# os bullshit
Thumbs.db
Desktop.ini
.DS_Store
# build artifacts
*.log
*.css
subreddit_data.yml
css_validation_result.html
# stuff that shows up in local testing
.sass-cache
*.css
*.css.map
# IDE stuff
.idea
.vscode
.env
env
*.pyc
