# os bullshit
Thumbs.db
Desktop.ini
.DS_Store

# i'm so sorry for introducing a package manager to this project (no i'm not)
node_modules

# build artifacts
*.css
out

# stuff that shows up in local testing
.sass-cache
*.css
*.css.map

# IDE stuff
.idea
.vscode
.env
env
*.pyc
