// Custom banners get full background control through these variables.

// $header-background: url("images/header.png") center left/auto 100% #1b1e25 no-repeat;  // used for awards
// $header-background-nightmode: $header-background;
//$header-background: url("images/header.png") scroll center bottom #6a9de6 no-repeat;  // best girl, centered
//$header-background-nightmode: url("images/header.png") scroll center bottom #445f7e no-repeat;
