// Custom banners get full background control through these variables.

// $header-background: url("images/header.png") center left/auto 100% #213553 no-repeat;
// $header-background-nightmode: $header-background;
