// Custom banners get full background control through these variables.

 $header-background: url("images/header.jpg") center left/auto 100% #1b1e25 no-repeat;
 $header-background-nightmode: $header-background;
