// Please leep this list in alphabetical order!
// Keep usernames prefixed with a slash, it's important
.author[href$="/-momoyome-"]:after{color:#f00000;content:" fujoshi~"}
.author[href$="/-Niernen"]:after,
.author[href$="/-Niernen"]:before{content:"-"}
.author[href$="/3932695"]:after{content:"2"}
.author[href$="/77remix"]:after{color:#000000;content:":Smells"}
.author[href$="/77remix"]:before{color:#9172ec;content:"Re(m)"}
.author[href$="/77remix"]{font-size:0}
.author[href$="/ABoredCompSciStudent"]:not(.moderator):after{color:#00bfff;content:" searching for A Distant Blue"}
.author[href$="/ABoredCompSciStudent"].moderator:after{font-weight:bold;content:"AVeryBoredPrimaUndine"}
.author[href$="/ABoredCompSciStudent"].moderator{font-size:0}
.author[href$="/airencracken"]:after{color:#f00000!important;content:" Who the hell do you think I am?!"}
.author[href$="/airencracken"]:before{content:"( ͡° ͜ʖ ͡°)"}
.author[href$="/airencracken"]{font-size:0}
.author[href$="/akiyamatakuro"]:after{content:" Good Smile Company"}
.author[href$="/AmethystItalian"]:after{color:#9494ff;content:" SS+"}
.author[href$="/AmethystItalian"]:before{color:#9494ff;content:"Amagami "}
.author[href$="/AmethystItalian"]{color:#551a8b}
.author[href$="/AnimeMod"] {font-size: 0}
.author[href$="/AnimeMod"]::after {content: "Evil Bot-chan"}
.author[href$="/Aruseus493"]:after{content:" dreams of harems"}
.author[href$="/ATonOfBacon"]:after{color:#900;content:" Bacon"}
.author[href$="/ATonOfBacon"]:before{content:"A Ton of Nice Crispy"}
.author[href$="/ATonOfBacon"]{font-size:0}
.author[href$="/Atronox"]:after{color:#ba55d3;content:" vice-admiral of moé"}
.author[href$="/AutoLovepon"]{color:#ab3020}
.author[href$="/AutoModerator"]:after{font-weight:bold; color: #8000FF; content: " Best Mod 2017 "}
.author[href$="/AutoModerator"]:before{content:"Bot-chan"}
.author[href$="/AutoModerator"]{font-size:0}
.author[href$="/babydave371"]:before{color:#E74C3C;content:"Royal Space Force Officer "}
.author[href$="/babydave371"]:after{color:#F4D03F;content:"babydave371"}
.author[href$="/babydave371"]{font-size:0}
.author[href$="/BanjoTheBear"]:before{color:#7c759e;content:"Uncle "}
.author[href$="/BanjoTheBear"]:after{color:#7c759e;content:" Chuunibyou, gao gao~"}
.author[href$="/basedbecker"]:after{content:"xXxfunk_m4st3r_<33xXx"}
.author[href$="/basedbecker"]{font-size:0}
.author[href$="/BBallHunter"]:after{content:"BBallHunter"}
.author[href$="/BBallHunter"]:hover:before {color:#F05333;font-weight: bold;content:"Hiatus x";}
.author[href$="/BBallHunter"]:hover:after {color:#f00000;font-weight: bold;content:" Hunter";}
.author[href$="/BBallHunter"]{font-size:0}
.author[href$="/Berzerker7"]:after{content:" has the best taste"}
.author[href$="/biggyh"]:after{color:#f59719;content:" Viewster Brand + Social Manager"}
.author[href$="/Buttered_Toast_1"]:after{color:#b20047;content:" l'artiste"}
.author[href$="/cdsboy"]:afrter{color:#f00000!important;content:" doesn't read the subreddit"}
.author[href$="/Chariotwheel"]:before{color:#ff8894;content:"Shiny "}
.author[href$="/Cottonteeth"]:after{content:" ;_;"}
.author[href$="/cptn_garlock"]:after{color:#45539e;content:" went down with his ship"}
.author[href$="/Croutons5"]{font-size:0}
.author[href$="/Croutons5"]:before{font-size: 10.5px!important;color: #d11141;font-weight: bold;content:"Jimmy Crouton: "}
.author[href$="/Croutons5"]:after{font-size: 10.5px!important;color:#00aedb;font-weight: bold;content:"Boy Genius"}
.author[href$="/Daniel_Is_I"]:before{content:"Daniel"}
.author[href$="/Daniel_Is_I"]:after{font-weight: bold; color:#167a16; content: " Chart-sama "}
.author[href$="/Daniel_Is_I"]{font-size:0}
@keyframes spin{0%{transform:rotate(0deg)}50%{transform:rotate(180deg)}}
.author[href$="/DancingQueen5961"]:after{content:" Good Smile Company"}
.author[href$="/DragonsOnOurMountain"]:after{color:#E74C3C;content:" who has a few questions"}
.author[href$="/DrJamesFox"]:after{color:#1e2237;content:" Ask me about K-on!"}
.author[href$="/DrJWilson"]:after{color:#228B22;content:", PhD (Comfy Studies)"}
/*.author[href$="/DrNyanpasu"]:after{color:#ff96ca;content:" loli-NEET"}*/
.author[href$="/FAN_ROTOM_IS_SCARY"]:not(.moderator):after{content:"Rotom";color:#149cd8}
.author[href$="/FAN_ROTOM_IS_SCARY"]:not(.moderator):before{content:"Non Non Biyo";color:#e15499}
.author[href$="/FAN_ROTOM_IS_SCARY"].moderator:after{content:": 『ZA PORISU』";color:#e393be}
.author[href$="/FAN_ROTOM_IS_SCARY"].moderator:before{content:"JoJotom's Stand";color:#8e0b0b}
.author[href$="/FAN_ROTOM_IS_SCARY"]{font-size:0}
.author[href$="/FetchFrosh"]:after{color:#899b06;content:"FetchFrosh★Magica"}
.author[href$="/FetchFrosh"]{font-size:0}
.author[href$="/g_suzuki"]:after{content:" Good Smile Company"}
.author[href$="/Gaporigo"]:before{color:#AF33FF;content:" Baka-Baka-shi, "}
.author[href$="/GenesisEra"]:after{content:"rarararara"}
.author[href$="/geo1088"]:not(.moderator){color: #c0c030}
.author[href$="/geo1088"]:not(.moderator):after{content:" the Canary"}
.author[href$="/geo1088"].moderator:after{content:"880Ɩoǝƃ ︵╰(=.=╰) "}
.author[href$="/geo1088"].moderator{font-size:0}
.author[href$="/grozzle"]:after{content:" grozzes"}
.author[href$="/HaydenTheFox"]:after{content:" is foxy"}
.author[href$="/Helghast-Killzone"]:after{color:#800000;content:" fought hard for this flair!"}
.author[href$="/higi1024"]:after{color:#cd8c95;content:"❀ higi1024 ❀"}
.author[href$="/higi1024"]{font-size:0}
.author[href$="/Holo_of_Yoitsu"]{color:#ab3020}
.author[href$="/Hyoizaburo"]:after {font-weight: bold; color: #1660A5; content: " x Umi "}
.author[href$="/ImVoi"]:after{content:"  ~ヴォイ";color:#f333ff}
.author[href$="/ImVoi"]:before{content:"Voi";color:#c00}
.author[href$="/ImVoi"].moderator:after{content:"~";color:#000}
.author[href$="/ImVoi"].moderator:before{content:"Voi";color:#000}
.author[href$="/ImVoi"]{font-size:0;font-weight:Bold}
.author[href$="/jake_j_jung"]:after{color:#8A2BE2;content:" Translator (Verified)"}
.author[href$="/jiecut"]:after{color:#d20808;content:" you to pieces"}
.author[href$="/JTricks"]:before{content:"JToronto"}
.author[href$="/JTricks"]:after{font-weight: bold; color: #ff2e2e; content: " is Best Girl of Canada "}
.author[href$="/JTricks"]{font-size:0}
.author[href$="/kaverik"]:after{content:"КOMЯДDE ☭ КДVEЯIК"}
.author[href$="/kaverik"]{font-size:0;color:#F00}
.author[href$="/kpenk"]:after{color:#fff399;content:" Kevin Penkin Official"}
.author[href$="/LordTakuro"]:after{color:#ff7feb;content:" is a Hero"}@keyframes color-change{0%{color:#ff69b4}50%{color:white}100%{color:#ff69b4}}
.author[href$="/lukeatlook"]:after{color:#00e500;content:"atthisflowchart"}
.author[href$="/MAD_SCIENTIST_001"]:before{color:#8d8d8d;content:"Lab Member Codename: "}
.author[href$="/Mage_of_Shadows"]:not(.moderator):after{color:#e8a394;content:" gets the reference"}
.author[href$="/Mage_of_Shadows"].moderator:before{content:"Mage"}
.author[href$="/Mage_of_Shadows"].moderator:after{content:"_of_Shadows"}
.author[href$="/Mage_of_Shadows"].moderator:hover:after{opacity:0;transition: 0.5s}
.author[href$="/Mage_of_Shadows"].moderator{font-size:0}
.author[href$="/MetaThPr4h"]{color:#E4B400}
.author[href$="/MetaThPr4h"]:after{color:#EC768C;content:" です"}
.author[href$="/MissyPie"]:after{color:#ffb6c1;content:" *:・ﾟ✧*:・ﾟ✧"}
.author[href$="/MissyPie"]:before{color:#ffb6c1;content:"(ﾉ·ヮ·)ﾉ*:・ﾟ✧ "}
.author[href$="/MissyPie"]{color:#ff69b4;font-weight:bold;animation:color-change 9s}
.author[href$="/myanimelistllc"]:after{color:#009;content:" Staff of MAL"}
.author[href$="/neito"]:after{color:#f3c!important;content:" You Are Responsible for What You Have Tamed"}
.author[href$="/notathrowaway75"]:after{content:"...76...77..."}
.author[href$="/NotTheRealMorty"]:not(.moderator){font-size: 0}
.author[href$="/NotTheRealMorty"]:not(.moderator):before{content: "NTRMorty"}
.author[href$="/NotTheRealMorty"]:not(.moderator):after{color:#ff8000;font-weight: bold; content:" Shinobu Best Character 2017 "}
.author[href$="/NotTheRealMorty"].moderator:after{content:"NTRMorty";font-weight:bold}
.author[href$="/NotTheRealMorty"].moderator{font-size:0}
.author[href$="/Obviouslynotafaggot"]:after{content:" ヽ( ﾟヮﾟ)ﾉ"}
.author[href$="/PandavengerX"]:before{color:#ffe135;content:"99th Generation, "}
.author[href$="/peaceshot"]:after{content:" - 01 OVA"}
.author[href$="/peaceshot"]:before{content:"[Mori] "}
.author[href$="/peaceshot"]{color:#a300df}
.author[href$="/pitman"]:after{color:#d57273;font-weight:Bold;content:url(%%pitman%%) " space intentionally left blank"}
.author[href$="/pittman66"]:after{color:#3374FF;content:" Hazukashii serifu kinshi!"}
.author[href$="/porpoiseoflife"]:after{color:#FFC90E;content:" has tried it at home."}
.author[href$="/Quarkboy"]:after{content:" Anime Sols"}
.author[href$="/Quartapple"]:after{color:#de93aa;content:" PM me lewd loli dragons"}
.author[href$="/randomdudeman12"]:after{color:#9bc2cf;content:" *holds up spork*"}
.author[href$="/RandomRedditorWithNo"]:after{color:#ff0000;content:"Flair"}
.author[href$="/RandomRedditorWithNo"].moderator:after{content:"Chill"}
.author[href$="/I_FAP_TO_LOL_HENTAI"]{font-size: 0}
.author[href$="/I_FAP_TO_LOL_HENTAI"]:after{content:"I_FAP_TO_LOL(i)_HENTAI"}
.author[href$="/readitmeow"]:after{content:" (^・・^)ﾉ"}
.author[href$="/rpereyda"]:after{color:#f59719;content:" VP, VIZ | Sr. Advisor, Kitsu | Founder, Henshin"}
.author[href$="/Sandvikovich"]:after{color:#e5c100;content:"$ Sandvikovich $ "}
.author[href$="/Sandvikovich"]{font-size:0}
.author[href$="/serialsaboteur"]:after{color:#8f6268;content:" /r/anime's Lorelei"}
.author[href$="/ShaKing807"]:not(.moderator){font-size:0}
.author[href$="/ShaKing807"]:not(.moderator):before {font-size: 10.5px!important;color:#ffc100;font-weight: bold;content:"Sha"}
.author[href$="/ShaKing807"]:not(.moderator):after {font-size: 10.5px!important;color:#000000;font-weight: bold;content:"sengumi"}
.author[href$="/ShaKing807"]:not(.moderator):hover:before {color:#ffc100;font-weight: bold;content:"Shasengumi";}
.author[href$="/ShaKing807"]:not(.moderator):hover:after {color:#000000;font-weight: bold;content:" Reformed";}
.author[href$="/ShaKing807"].moderator{font-size:0}
.author[href$="/ShaKing807"].moderator:after{font-size: 10.5px!important;color:#ffffff;content:"The Shamised Neverland";background-color: #228822;border-radius: 3px;}
.author[href$="/sheroze"]:after{color:#ffc0cb;content:" EEEHHH?"}
.author[href$="/Sinrus"]:after {font-weight: bold; color: #894580; content: " only knows what he knows "}
.author[href$="/SmurfRockRune"]:after{color:#663096;content:" ゴゴゴ"}
.author[href$="/SmurfRockRune"]:before{color:#663096;content:"ゴゴゴ "}
.author[href$="/SmurfRockRune"]{color:#663096}
.author[href$="/SmurfRockRune"]{color:#663096}
.author[href$="/Spiranix"]:not(.moderator):before{color:#BD4A83;content:"Princess Spira ♕"}
.author[href$="/Spiranix"]:not(.moderator){font-size: 0}
.author[href$="/Spiranix"].moderator{font-size:0;color:#000000}
.author[href$="/Spiranix"].moderator:before{content:"Spira the Duck"}
.author[href$="/Spiranix"].moderator:after{color:#f7c800;content:"- Quack!!";font-weight:bold}
.author[href$="/swisskid"]:after{content:" has an NTR fetish"}
.author[href$="/Taiboss"]:after{color:#d21f57;content:" Tai x Aru 4 lyfe"}
.author[href$="/TheEnigmaBlade"]:after{color:#ab3020;content:" the Wise Wolf"}
.author[href$="/ThirteenthDoctor"]:before{color:#00a090;font-weight:400;content:" ／人◕ ‿‿ ◕人＼ "}
.author[href$="/Thrasher439"]:after{color:#118570;content:" the Third!"}
.author[href$="/Thrasher439"]:before{color:#000000;content:"Thrasher"}
.author[href$="/Thrasher439"]{font-size:0}
.author[href$="/tl-notes"]:after{content:": keikaku means plan)"}
.author[href$="/tl-notes"]:before{content:"("}
.author[href$="/tl-notes"]{text-shadow:-1px -1px #000,0 -1px #000,1px -1px #000,0 1px #000,1px 0 #000,-1px 0 #000,-1px 1px #000,1px 1px #000;color:#e6cfa3!important}
.author[href$="/Tora_the_Tiger"]:before,
.author[href$="/tundranocaps"]:after{color:#f3c;content:" watches you everywhere"}
.author[href$="/twoduy"]:after{color:#ff69b4;content:" Professor in Moeology"}
.author[href$="/urban287"]:not(.moderator):after{color:#be2a41;content:" <Praise Shirayuki>";font-style:normal}
.author[href$="/urban287"]:not(.moderator){color:#ba55d3;font-size:inherit}
.author[href$="/urban287"].moderator:after{content:"Uncle Urbs"}
.author[href$="/urban287"].moderator{font-size:0}
.author[href$="/VincentBlack96"]{font-size:0}
.author[href$="/VincentBlack96"]:before{color: #3698e1; content: "Vincent"}
.author[href$="/VincentBlack96"]:after{color: #000; content: "Black96"}
.author[href$="/violaxcore"]:after{color:#f00000;content:" futsuu~"}
.author[href$="/willsolvit"]:after{content:"willsolveit"}
.author[href$="/willsolvit"]{font-size:0}
.author[href$="/WingsOfLight"]:after{content:"Wings of Light is 3x faster"}
.author[href$="/WingsOfLight"]{font-size:0;color:#F00}
.author[href$="/Xinil"]:after{color:#009;content:" Founder of MAL"}
.author[href$="/xRichard"]:before{content:"se"}
.author[href$="/zhongzhen93"]:after{color:#b20047;content:" SOS Brigade Director"}

// Fanart contest flairs
.author[href$="/SteamyTomato"]:after,
.author[href$="/cheesewoo"]:after,
.author[href$="/Earth2Mars"]:before {
	// Hack: In order to clip the spritesheet to only the part we need, we use
	// background-clip: content-box; and rely on the text overflowing on hover.
	// To ensure there's enough room for the text on hover, we set an arbitrary
	// padding-right that's wide enough to contain all the text.
	content: " Fanart Contest Winner!";
	color: #37ada3;
	background: content-box url(%%ui-elements%%) 0 -115px/128px no-repeat red;
	display: inline-block;
	height: 13px;
	width: 13px;
	margin-left: .3em;
	margin-bottom: .2em;
	text-indent: -9999em;
	vertical-align: middle;
	white-space: nowrap;
}
.author[href$="/SteamyTomato"]:hover:after,
.author[href$="/cheesewoo"]:hover:after,
.author[href$="/Earth2Mars"]:hover:before {
	padding-right: 122px;
	text-indent: 17px;
}
// Comment authors' names are bold, so we need more space
.comment .author[href$="/SteamyTomato"]:hover:after,
.comment .author[href$="/cheesewoo"]:hover:after,
.comment .author[href$="/Earth2Mars"]:hover:before {padding-right: 136px}
// Custom colors for the other two
.author[href$="/Earth2Mars"]:before {color: #00E6B8}
.author[href$="/cheesewoo"]:after {color: #ffb973}
