// Subscriber and current user flavor texts

//.titlebox .number:before {content: ""}
.titlebox .number:after {content: " wrestling a deer"}
//.titlebox .users-online span.number:before {content: ""}
.titlebox .users-online span.number:after {content: " ordering either a Solo or Doppio"}
