// Subscriber and current user flavor texts

//.titlebox .number:before {content: ""}
.titlebox .number:after {content: " Spinning chairs"}
//.titlebox .users-online span.number:before {content: ""}
.titlebox .users-online span.number:after {content: " busy uninstalling"}
