/*!
 * /r/anime stylesheet
 * maintained by /u/bainos, /u/geo1088
 * https://github.com/r-anime/stylesheet
 * public domain (http://creativecommons.org/publicdomain/zero/1.0)
 */

// Global variable definitions
@import "src/util/vars";
// Mixins and placeholders
@import "src/util/mixins";

// Customizations
@import "subcount"; // Contains the sidebar subscriber/online user phrases
@import "flairs"; // User CSS flair texts, etc. (needs to be before main theme)
@import "banner"; // Custom banner images for special events

// Main theme style
@import "src/everything"; // Everything that isn't somewhere else yet
@import "src/usernames"; // Compatibility styles for all usernames
@import "src/linkflair"; // Link flair, including mod-only things
@import "src/userflair"; // User flair, for list services
@import "src/markdown"; // Generic markdown styles
@import "src/header"; // Header/banner styles
@import "src/sidebar"; // Sidebar styles

// More sub-specific customizations
@import "src/infobar"; // Fancy announcements thing at the top of the sub
@import "src/thumbnails"; // Custom post thumbnail images
@import "src/titles"; // Custom colors for post titles
@import "src/sidebarimages"; // Custom sidebar images that link places
@import "src/commentfaces"; // Comment faces, static and animated
