/*!
 * /r/anime stylesheet
 * maintained by /u/geo1088
 * https://github.com/r-anime/stylesheet
 * public domain
 */

// Global variable definitions
@import "src/util/vars";
// Mixins and placeholders
@import "src/util/mixins";

// Customizations
@import "subcount"; // Contains the sidebar subscriber/online user phrases
@import "flairs"; // User CSS flair texts, etc.

// Main theme style
@import "src/everything"; // Everything that isn't somewhere else yet
@import "src/usernames"; // Compatibility styles for all usernames
@import "src/linkflair"; // Link flair, including
@import "src/markdown"; // Generic markdown styles
@import "src/sidebar"; // Sidebar-specific styles, including markdown hacks
@import "src/infobar"; // Fancy announcements thing at the top of the sub
@import "src/commentfaces"; // Comment faces, static and animated
