/* general TODO: merge single-statement rules like display:none and margin:0 */
.author[href$="/-momoyome-"]:after{color:#f00000;content:" fujoshi~"}
.author[href$="/-Niernen"]:after{content:"-"}
.author[href$="/-Niernen"]:before{content:"-"}
.author[href$="/3932695"]:after{content:"2"}
.author[href$="/airencracken"]:after{color:#f00000!important;content:" Who the hell do you think I am?!"}
.author[href$="/airencracken"]:before{content:"( ͡° ͜ʖ ͡°)"}
.author[href$="/airencracken"]{font-size:0}
.author[href$="/akanyan"]:before{color:#0070ba;content:"background-image: "}
.author[href$="/akiyamatakuro"]:after{content:" Good Smile Company"}
.author[href$="/AmethystItalian"]:after{color:#9494ff;content:" SS+"}
.author[href$="/AmethystItalian"]:before{color:#9494ff;content:"Amagami "}
.author[href$="/AmethystItalian"]{color:#551a8b}
.author[href$="/Aruseus493"]:after{content:" dreams of harems"}
.author[href$="/ATonOfBacon"]:after{color:#900;content:" Bacon"}
.author[href$="/ATonOfBacon"]:before{content:"A Ton of Nice Crispy"}
.author[href$="/ATonOfBacon"]{font-size:0}
.author[href$="/Atronox"]:after{color:#ba55d3;content:" vice-admiral of moé"}
.author[href$="/AutoModerator"]:after{font-weight:bold; color: #8000FF; content: " Best Mod 2017 "}
.author[href$="/AutoModerator"]:before{content:"Bot-chan"}
.author[href$="/AutoModerator"]{font-size:0}
.author[href$="/BanjoTheBear"]:after{color:#7c759e;content:" Chuunibyou, gao gao~"}
.author[href$="/basedbecker"]:after{content:"basedpecker"}
.author[href$="/basedbecker"]{font-size:0}
.author[href$="/Berzerker7"]:after{content:" has the best taste"}
.author[href$="/biggyh"]:after{color:#f59719;content:" Viewster Brand + Social Manager"}
.author[href$="/Bobduh"]:after{content:" (Essay) Builder"}
.author[href$="/Buttered_Toast_1"]:after{color:#b20047;content:" l'artiste"}
.author[href$="/cdsboy"]:after{color:#f00000!important;content:" doesn't read the subreddit"}
.author[href$="/Chariotwheel"]:before{color:#ff8894;content:"Shiny "}
.author[href$="/cheesewoo"]:after{content:'Fanart Contest Winner!';color:#ffb973;background:url(%%ui-elements%%) 0 13px no-repeat;display:inline-block;height:13px;min-width:13px;margin-left:.3em;margin-Bottom:.2em;text-indent:-9999em;vertical-align:middle;white-space:nowrap}
.author[href$="/cheesewoo"]:hover:after{text-indent:17px}
.author[href$="/chickenwinger"]:after{content:" treads lightly"}
.author[href$="/Classyfish"]:after{content:" Steals Art to Karmawhore"}
.author[href$="/Cottonteeth"]:after{content:" ;_;"}
.author[href$="/cptn_garlock"]:after{color:#45539e;content:" went down with his ship"}
.author[href$="/Cyrotec"]:after{content:" ~ecchi roomie"}
.author[href$="/d0nkeh"]:after{content:"-sama"}
.author[href$="/d0nkeh"]{color:brown;font-weight:bold;animation:spin 5s}
.author[href$="/DancingQueen5961"]:after{content:" Good Smile Company"}
.author[href$="/DrJamesFox"]:after{color:#1e2237;content:" Ask me about K-on!"}
.author[href$="/DrNyanpasu"]:after{color:#ff96ca;content:" loli-NEET"}@keyframes spin{0%{transform:rotate(0deg)}50%{transform:rotate(180deg)}}
.author[href$="/Earth2Mars"]:after{color:#ff923f;content:" WAKE ME UP waaake me up insiiide"}
.author[href$="/Earth2Mars"]:before{content:'Fanart Contest Winner! ';color:#00e6b8;background:url(%%ui-elements%%) 0 13px/128px; display:inline-block;height:13px;min-width:13px;margin-left:.3em;margin-Bottom:.2em;text-indent:-9999em;vertical-align:middle;white-space:nowrap}
.author[href$="/Earth2Mars"]:hover:before{text-indent:17px}
.author[href$="/FAN_ROTOM_IS_SCARY"]:not(.moderator):after{content:"Rotom";color:#149cd8}
.author[href$="/FAN_ROTOM_IS_SCARY"]:not(.moderator):before{content:"Non Non Biyo";color:#e15499}
.author[href$="/FAN_ROTOM_IS_SCARY"].moderator:after{content:": 『ZA PORISU』";color:#e393be}
.author[href$="/FAN_ROTOM_IS_SCARY"].moderator:before{content:"JoJotom's Stand";color:#8e0b0b}
.author[href$="/FAN_ROTOM_IS_SCARY"]{font-size:0}
.author[href$="/foamyfrog"]:after{content:" is new to the internet"}
.author[href$="/FreeRobotFrost"]:after{color:#f00000;content:" ~survivor of yaoi~"}
.author[href$="/g_suzuki"]:after{content:" Good Smile Company"}
.author[href$="/games0124"]:after{content:" likes boko no pico"}
.author[href$="/GenesisEra"]:after{content:"rarararara"}
.author[href$="/geo1088"]:not(.moderator){color: #c0c030}
.author[href$="/geo1088"]:not(.moderator):after{content:" the Canary"}
.author[href$="/geo1088"].moderator:after{content:"880Ɩoǝƃ ︵╰(=.=╰) "}
.author[href$="/geo1088"].moderator{font-size:0}
.author[href$="/Golga10"]:after{color:#E74C3C;content:" Is Contractually Obligated to Listen"}
.author[href$="/greyflcn"]:before{content:"The amazing "}
.author[href$="/grozzle"]:after{content:" grozzes"}
.author[href$="/HaydenTheFox"]:after{content:" is foxy"}
.author[href$="/Helghast-Killzone"]:after{color:#800000;content:" fought hard for this flair!"}
.author[href$="/heyheywoahohoh"]:after{content:"lol"}
.author[href$="/higi1024"]:after{color:#cd8c95;content:"❀ higi1024 ❀"}
.author[href$="/higi1024"]{font-size:0}
.author[href$="/Holo_of_Yoitsu"]{color:#ab3020}
.author[href$="/Hyoizaburo"]:after {font-weight: bold; color: #1660A5; content: " x Umi "}
.author[href$="/ImVoi"]:after{content:"  ~ヴォイ";color:#f333ff}
.author[href$="/ImVoi"]:before{content:"Voi";color:#c00}
.author[href$="/ImVoi"].moderator:after{content:"~";color:#000}
.author[href$="/ImVoi"].moderator:before{content:"Voi";color:#000}
.author[href$="/ImVoi"]{font-size:0;font-weight:Bold}
.author[href$="/Kagumi"]:after{content:"Kagumi.moe♪"}
.author[href$="/Kagumi"]{font-size:0;color:#4c8ef7}
.author[href$="/kaverik"]:after{content:"КOMЯДDE ☭ КДVEЯIК"}
.author[href$="/kaverik"]{font-size:0;color:#F00}
.author[href$="/Kinos"]:after{color:#3fc;content:" minty man cream"}
.author[href$="/Kojie2u"]:before{color:#404040;content:"♫Songmaster♫ "}
.author[href$="/kyonkun"]:after{content:" denwa"}
.author[href$="/Lanth"]:after{content:" likes shounen-ai"}
.author[href$="/LordTakuro"]:after{color:#ff7feb;content:" is a Hero"}@keyframes color-change{0%{color:#ff69b4}50%{color:white}100%{color:#ff69b4}}
.author[href$="/lukeatlook"]:after{color:#00e500;content:"atthisflowchart"}
.author[href$="/Mage_of_Shadows"]:after{color:#e8a394;content:" gets the reference"}
.author[href$="/MissyPie"]:after{color:#ffb6c1;content:" *:・ﾟ✧*:・ﾟ✧"}
.author[href$="/MissyPie"]:before{color:#ffb6c1;content:"(ﾉ·ヮ·)ﾉ*:・ﾟ✧ "}
.author[href$="/MissyPie"]{color:#ff69b4;font-weight:bold;animation:color-change 9s}
.author[href$="/myanimelistllc"]:after{color:#009;content:" Staff of MAL"}
.author[href$="/N1njawaffle"]:after{color:#daa520;content:" official yandere... something"}
.author[href$="/Namrhof"]:after{color:#f0f;content:" please respond."}
.author[href$="/Nankaina"]:after{color:#f00000;content:" ~crazy scotsman"}
.author[href$="/neito"]:after{color:#f3c!important;content:" You Are Responsible for What You Have Tamed"}
.author[href$="/NotTheRealMorty"]:not(.moderator){font-size: 0}
.author[href$="/NotTheRealMorty"]:not(.moderator):before{content: "NTRMorty"}
.author[href$="/NotTheRealMorty"]:not(.moderator):after{color:#ff8000;content:" Flat chest best chest "}
.author[href$="/NotTheRealMorty"].moderator:after{Content:"NTRMorty";font-weight:bold}
.author[href$="/NotTheRealMorty"].moderator{font-size:0}
.author[href$="/Obviouslynotafaggot"]:after{content:" ヽ( ﾟヮﾟ)ﾉ"}
.author[href$="/Oreden"]:after{content:" (⌐■_■)"}
.author[href$="/Oreden"]:before{content:"(⌐■_■) "}
.author[href$="/peaceshot"]:after{content:" - 01 OVA"}
.author[href$="/peaceshot"]:before{content:"[Mori] "}
.author[href$="/peaceshot"]{color:#a300df}
.author[href$="/pitman"]:after{color:#d57273;font-weight:Bold;content:url(%%pitman%%) " space intentionally left blank"}
.author[href$="/pittman66"]:after{color:#F00;content:": Believe in Zenbu and Hold a Determination to Zenbu"}
.author[href$="/Pyrao"]:after{content:"Punchaer"}
.author[href$="/QFlux"]:after{content:", nobody's yandere boyfriend"}
.author[href$="/QFlux"]:before{content:"Forever alone "}
.author[href$="/Quarkboy"]:after{content:" Anime Sols"}
.author[href$="/Quartapple"]:after{color:#de93aa;content:" PM me lewd loli dragons"}
.author[href$="/randomdudeman12"]:after{color:#9bc2cf;content:" *holds up spork*"}
.author[href$="/RayLeeMental"]:after{content:" no Pico"}
.author[href$="/readitmeow"]:after{content:" (^・・^)ﾉ"}
.author[href$="/rimmjob"]:after{content:" the Yaoi Lover"}
.author[href$="/rpereyda"]:after{color:#f59719;content:" VP, VIZ | Sr. Advisor, Kitsu | Founder, Henshin"}
.author[href$="/ruiwui"]:after{content:" is not important"}
.author[href$="/Sandvikovich"]:after{color:#e5c100;content:"$ Sandvikovich $ "}
.author[href$="/Sandvikovich"]{font-size:0}
.author[href$="/scriptea"]:after{color:#ff69b4;content:" dfc-defender"}
.author[href$="/sddsddcp"]:after{content:": PhD in wholesome comments"}
.author[href$="/sddsddcp"]:before{content:"Doctor John "}
.author[href$="/sddsddcp"]{color:#8150ad}
.author[href$="/serialsaboteur"]:after{color:#8f6268;content:" /r/anime's Lorelei"}
.author[href$="/ShaKing807"]:not(.moderator):after{color:#ee623f;content:" is the best trap"}
.author[href$="/ShaKing807"].moderator:after{font-weight:bold;content:"Shasengumi"}
.author[href$="/ShaKing807"].moderator{font-size:0}
.author[href$="/Sinrus"]:after {font-weight: bold; color: #894580; content: " only knows what he knows "}
.author[href$="/SlotCarSteve"]:after{content:" ~pious acolyte~"}
.author[href$="/SmurfRockRune"]:after{color:#663096;content:" ゴゴゴ"}
.author[href$="/SmurfRockRune"]:before{color:#663096;content:"ゴゴゴ "}
.author[href$="/SmurfRockRune"]{color:#663096}
.author[href$="/SmurfRockRune"]{color:#663096}
.author[href$="/Spiranix"]:after{content:"Spira, the Ghost of Zeon";font-weight:bold}
.author[href$="/Spiranix"].moderator:after{content:"Spira-sama, Banzai!";font-weight:bold}
.author[href$="/Spiranix"]{font-size:0;color:#912f53}
.author[href$="/SteamyTomato"]:after{content:'Fanart Contest Winner!';color:#37ada3;background:url(%%ui-elements%%) 0 13px/128px; display:inline-block;height:13px;min-width:13px;margin-left:.3em;margin-Bottom:.2em;text-indent:-9999em;vertical-align:middle;white-space:nowrap}
.author[href$="/SteamyTomato"]:hover:after{text-indent:17px}
.author[href$="/swisskid"]:after{content:" has an NTR fetish"}
.author[href$="/Taiboss"]:after{color:#d21f57;content:" Tai x Aru 4 lyfe"}
.author[href$="/tensorpudding"]:after{content:" sniffs your pantsu"}
.author[href$="/tensorpudding"]:before{content:"[News] "}
.author[href$="/TheEdes"]:after{content:" el capitan de yaoi"}
.author[href$="/TheEnigmaBlade"]:after{color:#ab3020;content:" the Wise Wolf"}
.author[href$="/TheSare"]:after{content:" baka gaijin"}
.author[href$="/ThirteenthDoctor"]:before{color:#00a090;font-weight:400;content:" ／人◕ ‿‿ ◕人＼ "}
.author[href$="/Thrasher439"]:after{color:#118570;content:" the Third!"}
.author[href$="/Thrasher439"]:before{color:#000000;content:"Thrasher"}
.author[href$="/Thrasher439"]{font-size:0}
.author[href$="/tl-notes"]:after{content:": keikaku means plan)"}
.author[href$="/tl-notes"]:before{content:"("}
.author[href$="/tl-notes"]{text-shadow:-1px -1px #000,0 -1px #000,1px -1px #000,0 1px #000,1px 0 #000,-1px 0 #000,-1px 1px #000,1px 1px #000;color:#e6cfa3!important}
.author[href$="/Tora_the_Tiger"]:before,
.author[href$="/tundranocaps"]:after{color:#f3c;content:" watches you everywhere"}
.author[href$="/Twilight_Scko"]:after{color:#f3c;content:" watcher of chinese cartoons"}
.author[href$="/urban287"]:not(.moderator):after{color:#be2a41;content:" <Praise Shirayuki>";font-style:normal}
.author[href$="/urban287"]:not(.moderator){color:#ba55d3;font-size:inherit}
.author[href$="/urban287"].moderator:after{content:"Sonzai Urban"}
.author[href$="/urban287"].moderator{font-size:0}
.author[href$="/VincentBlack96"]{font-size:0}
.author[href$="/VincentBlack96"]:before{color: #3698e1; content: "Vincent"}
.author[href$="/VincentBlack96"]:after{color: #000; content: "Black96"}
.author[href$="/violaxcore"]:after{color:#f00000;content:" futsuu~"}
.author[href$="/willsolvit"]:after{content:"willsolveit"}
.author[href$="/willsolvit"]{font-size:0}
.author[href$="/WingsOfLight"]:after{content:"Wings of Light is 3x faster"}
.author[href$="/WingsOfLight"]{font-size:0;color:#F00}
.author[href$="/x87823199x"]:after{content:" prefers to be naked"}
.author[href$="/Xinil"]:after{color:#009;content:" Founder of MAL"}
.author[href$="/xKaillus"]:before,
.author[href$="/xRichard"]:before{content:"se"}
.author[href$="/Your_World_on_Fire"]:after{content:" （ ´_ゝ`）"}
.author[href$="/zhongzhen93"]:after{color:#b20047;content:" SOS Brigade Director"}
.author[href$="/zzeroparticle"]:after{content:" ♪♪"}
.author[href$="/zzeroparticle"]:before{content:"♪♪ "}
.author[href$="/twoduy"]:after{color:#ff69b4;content:" Professor in Moeology"}
.author[href$="/DrJWilson"]:after{color:#228B22;content:", PhD (Comfy Studies)"}
.author[href$="/faux_wizard"]:not(.moderator){font-size: 0}
.author[href$="/faux_wizard"]:not(.moderator):before{color:#cc0000; content: "faux"}
.author[href$="/faux_wizard"]:not(.moderator):after{color:#3F00FF;content:"_witch_academia"}

/** customization stuff **/
.titlebox .number:before {content: ""}
.titlebox .number:after {content: " Future Aria Company Customers"}
.titlebox .users-online span.number:before {content: " "}
.titlebox .users-online span.number:after {content: " Journeymen on Planet Aqua"}

/**** STOP EDITING HERE ****/

/** Base styles **/
html {font-size: 62.5%}
body>.content {
	margin: 0;
	padding: 55px 0 10px
}
body>.content,
.side .titlebox form.toggle,
.side .leavemoderator,
.sidebox,
.sidebox .spacer,
.icon-menu a,
#sr-header-area * {background-color: transparent!important}
#search input[type="submit"] {margin-left: -25px}
.infobar,.rounded {border-radius: 5px}
.reddit-infobar {
	margin: 0 331px 10px 10px;
	border-radius: 5px
}
/** Base nightmode text coloring **/
/*.res-nightmode :not(time):not(select):not(option),*/
.res-nightmode .pagename a {color: #FFF}
.res-nightmode body,
.res-nightmode body>.content {background: #2f2f2f!important}

/** User title maintenance **/
.author {
	display: inline-block;
	margin-right: 0
}
.author+* {margin-left: .5em}
.author::before,
.author::after {font-size: small}
.tagline .author::before,
.tagline .author::after,
.bottom .author::before,
.bottom .author::after,
.parent .author::before,
.parent .author::after {font-size: x-small}

/** Page header **/
#header {
	height: 115px;
	background-color: #6a9de6;
	background-repeat: repeat-x;
	background-size: auto 115px;
	border-bottom: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2)
}
#sr-header-area {
	background: #557eb8;
	border-bottom: 0;
	color: #FFF;
	text-transform: none;
	font-size: 12px;
	line-height: 18px
}
.dropdown.srdrop .selected {
	color: #FFF;
	background-image: none;
	padding-right: 0;
	margin: 0
}
.dropdown.srdrop .selected::after {
	content: " | ";
	white-space: pre;
	padding: 0 .7ex;
	color: #FFF
}
#sr-header-area .separator,
.sr-bar a {color: #FFF!important}
#sr-header-area *,
#sr-more-link,
.res #RESShortcutsEditContainer,
.res #RESShortcutsSort,
.res #RESShortcutsRight,
.res #RESShortcutsLeft,
.res #RESShortcutsAdd,
.res #RESShortcutsTrash {
	color: #FFF;
	background-color: inherit!important
}
#sr-header-area .drop-choices {border: 0}
html #sr-header-area a.RESShortcutsCurrentSub {
	color: inherit!important;
	text-decoration: underline
}
#header-bottom-left {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	box-shadow: inset 0 -35px #557eb8
}
#header-img-a {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 2px
}
#header-img {
	position: relative;
	margin: 0;
	display: block;
	z-index: 99;
	width: 74px;
	height: 90px
}
.pagename {
	position: absolute;
	bottom: 37px;
	left: 88px;
	display: block;
	color: #FFF;
	font-weight: 400;
	text-transform: capitalize;
	font-variant: normal;
	font-size: 34px;
	font: normal 34px "Helvetica","Arial",sans-serif
}
.pagename a {color: inherit}
#header .tabmenu {
	height: 35px;
	position: absolute;
	bottom: 0;
	padding-left: 75px
}
#header .tabmenu li {
	display: inline-block;
	margin: 0
}
#header .tabmenu a {
	display: inline-block;
	padding: 0 10px;
	background: transparent;
	border: 0;
	color: #FFF;
	font-size: 14px;
	line-height: 35px;
	font-weight: 400;
	height: 35px;
	position: relative
}
#header .tabmenu a:hover {background: rgba(0,0,0,.1)}
#header .tabmenu .selected a::after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	width: 12px;
	height: 12px;
	background: #FFF;
	box-shadow: inset 2px 2px 2px -1px rgba(0,0,0,0.2),1px 1px 1px #FFF
}
#header-bottom-right {
	bottom: 35px;
	right: 0;
	padding: 5px 10px;
	background-color: transparent!important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 5px
}
#header-bottom-right span,
#header-bottom-right a {color: #FFF}
.side {
	margin: 0;
	padding: 10px;
	width: 300px;
	background: url(%%side-bg%%) top/4px #f7f7f7;
	border: 1px solid #cfcfcf;
	border-top: 0;
	border-right: 0;
	border-bottom-left-radius: 5px
}
.side>.spacer {margin: 0}
.side>.spacer+.spacer {margin-top: 10px}
.titlebox,.linkinfo {
	background: #FFF;
	padding: 11px;
	border: 0;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #cfcfcf;
	overflow: hidden
}
.side .redditname {
	margin: -11px -11px 10px;
	padding: 0 8px;
	background: #6a9de6;
	height: 35px;
	font-weight: normal;
	font-size: 18px;
    line-height: 35px;
	text-transform: capitalize;
	color: #FFF;
	overflow: hidden;
	font-weight: 700
}
.side .redditname a {color: inherit}
.side .subscribe-button {
	position: relative;
	width: 200px;
	text-align: right;
	display: block;
	margin-top: -37.5px;
	left: 81px;
	margin-bottom: 20px
}
.side .subscribe-button .option {
	width: 100%;
	height: 100%;
	border: 0;
	background: #557eb8;
	padding: 3px 5px
}
.side .titlebox .res-fancy-toggle-button {
	border: 0;
	background: #557eb8;
	color: #FFF;
	padding: 3px 5px;
	line-height: 1
}
.res-sr-style-toggle {
	float: left;
	width: 100%;
	padding-top: 0!important
}
span.multi-count {margin: 0!important}
.users-online {
	display: inline;
	margin-bottom: 10px
}
.titlebox .word {display: none}
.titlebox .bottom {
	border-color: #cfcfcf;
	margin: 10px 0 -10px;
	padding: 5px 0;
	font-size: 0
}
.res-nightmode .titlebox .bottom {border-color: #000}
.titlebox .bottom .author::after {font-size: 0}
.titlebox .bottom .flair {display: none}
.titlebox .bottom .age {
	font-size: x-small;
	float: none;
	display: block;
	text-align: center
}
.sidecontentbox .title {
	background: #6a9de6;
	margin-bottom: 0;
	border-radius: 5px;
	padding: 0 0 0 10px;
	position: relative;
	line-height: 35px
}
.sidecontentbox .title h1 {
	color: #FFF;
	text-transform: lowercase;
	font-size: 1.3rem
}
.sidecontentbox .content {
	background: #FFF;
	border: 1px solid #cfcfcf;
	border-top: 0;
	box-shadow: 0 -5px #6a9de6;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px
}
.sidebox.create {display: none}

/* Common small buttons and stuff */
/* TODO: Also integrate subscribe button */
.side .md h1,
.sidecontentbox .title {
	padding: 0 0 0 8px !important;
	line-height: 35px;
}
.sidecontentbox a.helplink,
.side .md h1 a,
.sidecontentbox .title .collapse-button {
	display: inline;
	color: #FFF;
	background: #557eb8;
	font-family: "Verdana",sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 13px;
	padding: 3px 5px;
	border: 0;
	border-radius: 3px;
	margin: 8px 8px 8px 0;
	float: right;
	width: auto;
	height: auto;
   	position: relative;
	z-index: 1;
}


#search input[type="text"] {
	height: 35px;
	background: #FFF;
	color: #000;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	padding: 0 40px 0 10px;
	line-height: 30px;
	margin-left: 45px;
	width: 255px;
	position: relative;
	z-index: 0;
	transition: z-index 0s .2s,margin-left .2s,width .2s
}
.res-nightmode #search input[type="text"] {
	background: #2f2f2f!important;
	border-color: #0f0f0f
}
#search input[type="text"]:focus {
	border-color: #6a9de6;
	outline: 0;
	box-shadow: 0 0 3px #6a9de6;
	width: 300px;
	margin-left: 0;
	z-index: 2;
	transition: z-index 0s 0s,margin-left .2s,width .2s
}
#searchexpando {
	margin-top: 10px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	width: 280px;
	border-radius: 5px
}
#searchexpando>p {margin: 0}
.morelink {
	border: 0;
	background-image: none!important;
	background-color: transparent!important;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0;
	height: auto;
	position: relative;
	top: 0;
	transition: top 200ms
}
.morelink .nub {display: none}
.morelink a {
	color: #FFF;
	display: block;
	padding: 0 34px 0 10px;
	width: auto;
	height: 35px;
	line-height: 35px;
	background: #6a9de6;
	border-radius: 5px;
	transition: background-color 200ms,box-shadow 200ms;
	box-shadow: 0 0 rgba(0,0,0,.1)
}
.morelink a::after {
	content: "";
	display: block;
	position: absolute;
	width: 35px;
	height: 35px;
	top: 0;
	right: 0;
	background: url(%%ui-elements%%) -58px -93px/128px no-repeat,#557eb8;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px
}
.submit-text .morelink a::after {background-position: -93px -58px}
.morelink:hover {top: -2px}
.morelink:hover:active {top: 1px}
.morelink:hover a {
	background: #557eb8;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2)
}
.ad300x250,.sponsor-300-250 {border-radius: 5px}
.side::after {
	content: "(✿◠‿◠) ~<3";
	display: block;
	margin: 10px 0 0;
	text-align: center;
	color: gray
}
.infobar.newsletterbar {
	margin: 0 10px 10px;
	width: calc(100% - 341px);
	border-radius: 5px
}
.login-form-side {
	border-color: #cfcfcf;
	background: #FFF;
	border-radius: 5px
}
.listing-page .menuarea {
	border-top: 1px solid #efefef;
	margin: 0 0 -1px;
	padding: 10px;
	background: #f7f7f7;
	border-bottom: 1px solid #efefef
}
.thing .arrow {background: url(%%ui-elements%%) 0 0/128px!important}
.thing .arrow.up {background-position: -98px 0!important}
.thing .arrow.down {background-position: -98px -14px!important}
.thing .arrow.upmod {background-position: -113px 0!important}
.thing .arrow.downmod {background-position: -113px -14px!important}
.link.RES-keyNav-activeThing {background: #f0f3fc}
/* we can get rid of this next one right TODO */
.link {
	margin: 0;
    border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	padding: 5px 15px
}
.link ~ .link:not(.last-clicked) {border-top: 0}
.link.last-clicked {
	border-left: 0;
	border-right: 0;
}
.link ~ .link.last-clicked {margin-top: -1px}
/*.link .midcol,.midcol-spacer {width: 45px}*/
.link .thumbnail {
	margin: 0 10px 0 0;
	min-width: 70px
}
.link .entry {
	margin: 0;
	padding: 0
}
.link a.title {color: #333}
.link a.title:hover {color: #567}
.link .title:visited,.link.visited a.title {color: #888}
.link .title:visited:hover,.link.visited a.title:hover {color: #a0a8af}
.link .usertext-body .md {
	background: #f7f7f7;
	border-color: #cfcfcf
}
/* pinned links - v.redd.it */
.pinnable-content.pinned {
	background: #FFF !important;
	border-bottom: 1px solid #CFCFCF;
}.pinned .thing { border: 0 }
.pinned .thumbnail { margin: 0 }

.organic-listing {
	margin: 0;
	border-right: 0;
	border-left: 0;
	border-color: #cfcfcf
}
.organic-listing .help {margin: 5px}
body>.content .spacer {margin: 0}
.organic-listing .link.promotedlink {padding: 5px 10px 5px 15px}
.organic-listing .sponsored-tagline {margin: 5px 0}
.promotedlink .thumbnail {border-radius: 5px}
.comment .midcol {
	margin: 0;
	padding: 0;
	box-sizing: content-box
}
.comment .entry {
	margin: 0 0 10px;
	padding: 0 10px
}
.comment .entry .tagline {display: block}
.comment .entry .md {
	margin: 0;
	padding: 5px 0
}
.commentarea {padding: 0 5px}
.commentarea > .sitetable { padding: 0 5px }
.comment {
    position: relative;
    margin: 0;
    padding-left: 25px;
}
.comment .expand {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 15px;
    font-size: 0;
}
.comment .expand:before {
    content: "";
    position: absolute;
    top: 17px;
    bottom: 0;
    left: 7px;
    border-left: 1px dotted #B7B7B7;
}
.comment .expand::after {
    content: "[–]";
    font-size: 10px;
    position: absolute;
    width: 19px;
    height: 15px;
    top: 0;
    left: -2px;
    text-align: center;
    line-height: 15px;
    color: #B7B7B7;
}
.comment .expand:hover:before {
    border-left: 1px solid #6A9DE6;
}
.comment .expand:hover:after {
    color: #6A9DE6;
}
.comment.collapsed .expand:after { content: "[+]" }
.comment.collapsed .expand { bottom: 20px }
.comment.collapsed { padding: 0 }
.comment .child {
    border: 0;
    margin: 0;
}
.res-commentBoxes .comment {
    padding: 5px 5px 5px 25px !important;
    margin-left: 0 !important;
}
.res-commentBoxes .comment .expand {
    top: 0;
    left: 0;
    width: 20px;
    cursor: pointer;
}
.res-commentBoxes .comment .expand::after {
    top: 5px;
    left: 3px;
}
.res-commentBoxes .comment .expand::before {
    top: -5px;
    bottom: 0;
    left: 0;
    border-width: 0;
}
.res-commentBoxes .comment .expand:hover::before {
    border-left-width: 1px;
}
body .NERPageMarker,body #progressIndicator {
	background: #f7f7f7;
	margin: 0;
	padding: 5px;
	border-radius: 0;
	border: 0
}
body .NERPageMarker:before,body .NERPageMarker:after {
	content: " — ";
	opacity: .5
}
body .NERPageMarker .gearIcon {
	position: relative;
	bottom: 2px;
	margin-right: 2px
}
body #progressIndicator {
	padding: 10px;
	border-bottom: 1px solid #EFEFEF
}
#progressIndicator:hover {background: #EFEFEF}
.res-nightmode #progressIndicator, .res-nightmode.listing-page .menuarea {
    background: #252525 !important;
    border-color: #000 !important;
}
/** Thumbnail shit **/
.thumbnail.self {background: 0 -560px}
.thumbnail[href*="recom"] {background: 0 -350px}
.thumbnail[href*="cosplay"] {background: 0 0}
.thumbnail[href*="satire"] {background: 0 -490px}
.thumbnail[href*="/wt"] {background: 0 -700px}
.linkflair-green .thumbnail {background: 0 -210px}
.thumbnail[href*="spoiler"],
.thumbnail.spoiler {background: 0 -630px}
.thumbnail[href*="spoiler"][href*="episode"],
[data-author="Holo_of_Yoitsu"] .thumbnail {background: 0 -70px}
.thumbnail[href*="rewatch"] {background: 0 -420px} /* blaze it lmao */
.thumbnail.nsfw {background: 0 -280px}
[data-author="AutoModerator"] .thumbnail {background: 0 -770px}
.thumbnail.self,
.thumbnail.nsfw,
.thumbnail.spoiler {
	background-image: url(%%thumbnail%%)!important;
	height: 70px
}

/** Title colors **/
a[href*="spoil"].title:link,
.spoiler a.title:link {color: #cd0000!important}
a[href*="spoil"].title:visited,
.spoiler a.title:visited {color: #600!important}
a[href*="fanart"].title:link,
a[href*="fan_art"].title:link {color: #005900!important}
a[href*="fanart"].title:visited,
a[href*="fan_art"].title:visited {color: #003e00!important}
.res-nightmode a[href*="fanart"].title:link,
.res-nightmode a[href*="fan_art"].title:link {color: #019b00!important}
.res-nightmode a[href*="fanart"].title:visited,
.res-nightmode a[href*="fan_art"].title:visited {color: #347b34!important}
a[href*="watch_this"].title:link,
a[href*="/wt"].title:link {color: #b29600!important}
a[href*="watch_this"].title:visited,
a[href*="/wt"].title:visited {color: #473c00!important}
a[href*="rewatch"].title:link,
a[href*="re-watch"].title:link {color: #09f!important}
a[href*="rewatch"].title:visited,
a[href*="re-watch"].title:visited {color: #003d66!important}

/** Submit shit **/
.submit-page>.content {
	margin: 0 auto;
	padding-right: 321px;
	width: 520px
}
.submit-page .content>h1 {
	margin: 10px 0 20px;
	text-align: center
}
#newlink {margin: 0}
.submit-page .formtabs-content {
	border: 0;
	display: flex;
	flex-direction: column
}
.submit-page .formtabs-content .spacer:nth-last-child(3) {order: -1}
#text-field .title:before {
	content: "*";
	color: red
}
#text-desc {font-size: 0}
#text-desc:after {
	content: 'You are submitting a text-based post. Speak your mind. A title and a text body are both required. Beginning your title with "vote up if" is violation of intergalactic law.';
	font-size: small
}
#text-field .roundfield-description {display: none}
.submit-page ul.formtab {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between
}
.submit-page ul.formtab li {
	display: block;
	flex: 0 1 calc(50% - 5px)
}
.submit-page ul.formtab a,.submit-page ul.formtab .selected a {
	display: block;
	text-align: center;
	font-size: 18px;
	line-height: 35px;
	text-transform: capitalize;
	border: 0;
	background: #6a9de6;
	color: #FFF;
	border-radius: 5px;
	position: relative;
	top: 0;
	transition: 200ms;
	z-index: 1
}
.submit-page ul.formtab .selected a {
	top: -2px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	font-size: 18px
}
.submit-page .roundfield {
	width: 498px;
	border: 1px solid #BBB;
	background: #f7f7f7;
	margin-bottom: 10px
}
.submit-page .formtabs-content .infobar {margin-bottom: 10px}
.submit-page .roundfield.info-notice {padding: 10px}
.submit-page .roundfield textarea,
.submit-page .roundfield input:not([type=checkbox]):not([type=radio]),
.submit-page .roundfield .usertext-edit {width: calc(100% - 8px)!important}
.submit_text.enabled {display: block}
.c-form-group:empty {margin-bottom: 0}

/** Wiki **/
.wiki-page .wiki-page-content {margin: 25px 356px 0 35px}
.wiki-page .side .blockquote :first-child {display: none}
.wiki-page>.content {margin-top: 0}
.wiki-page>.content>span {
	display: block;
	margin: 0 331px 10px 10px;
	padding: 0 10px;
	background: #6a9de6;
	color: #FFF;
	border-radius: 5px;
	position: relative
}
.wiki-page .wikititle {
	margin: 0;
	font: inherit;
	font-size: large;
	line-height: 35px;
	color: inherit
}
.wiki-page .pageactions {
	float: right;
	border: 0;
	margin: 0
}
.wiki-page .pageactions .wikiaction,.wiki-page .pageactions .wikiaction-current {
	margin: 0;
	border-radius: 0;
	line-height: 35px;
	padding: 0 10px;
	color: #FFF;
	text-transform: capitalize;
	background: transparent!important
}
.wiki-page .pageactions .wikiaction-current {background-color: rgba(0,0,0,0.15)!important}
.wiki-page .pageactions .wikiaction:hover {text-decoration: underline}
.wiki-page .md.wiki>* {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem
}
.md.wiki .toc+* {margin-top: 0}
.md.wiki hr {
	background: #cfcfcf;
	height: 1px
}
.wiki-page .wiki-page-content .wiki>.toc>ul {
	border-color: #cfcfcf;
	border-radius: 5px;
	padding: 10px 15px
}
.wiki-page .wiki-page-content .wiki>.toc>ul li {
	line-height: 1;
	margin: 5px 0
}
.wiki-page .wiki-page-content .wiki>.toc>ul ul {
	border-left: 1px dotted #cfcfcf;
	padding: 0 15px;
	margin: 0
}
.res-nightmode .wiki-page .wiki-page-content .wiki>.toc>ul {border-color: #000}
.res-nightmode .wiki-page .wiki-page-content .wiki>.toc>ul ul {border-color: #8cb3d9}
/* Diffs */
.diff th, .diff td {
	padding: 0 5px;
	line-height: 18px;
}
.diff tbody tr:nth-child(2n) { background: rgba(0.5,0.5,0.5,0.03) }

/** Gemeral markdown **/
.md h1 {
	font-size: 2.15em;
	margin: 1rem 0;
	font-weight: inherit
}
.md h2 {
	font-size: 1.5em;
	margin: 1rem 0;
	font-weight: bold
}
.md hr {
	margin: 1em 0;
	height: 1px;
	background-color: #cfcfcf
}
.res-nightmode .md hr {background-color: #000!important}
.md p {margin: .5em 0}
.md blockquote {border-color: #cfcfcf}
.md a,
.tagline a {color: #557eb8}
.md a:hover,
.tagline a:hover {color: #244573}
.res-nightmode .md a:hover,
.res-nightmode .tagline a:hover {color: #b8d0e8}
a.author.submitter {color: #064dc0}
a.author.moderator {color: #5dab00}
.side .md h1 {
	background: #6a9de6;
	margin: 10px -11px;
	color: #FFF;
	font-size: 1.5em;
	font-weight: bold
}

/** spoiler hype **/
a[href="/s"],a[href="/n"] { /* fuck /n TODO */
	color: #fff!important;
	background: #000;
	padding: 1px 0 1px 3px;
	cursor: text;
	border-radius: 2px
}
a[href="/s"]:hover,a[href="/n"]:hover {color: #f44!important}
a[href="/s"]::after,a[href="/n"]::after {
	content: attr(title);
	background: inherit;
	color: #000;
	padding: 0 10px
}
a[href="/s"]:hover::after,
a[href="/s"]:active::after,
a[href="/n"]:hover::after,
a[href="/n"]:active::after {color: #FFF}
a[href="/n"] {background: #800}
a[href="/n"]::after {color: #800}
a[href="/n"]:hover {color: #0BF!important}

/** List flairs **/
.flair {
	height: 14px;
	line-height: 13px;
	position: relative;
	left: 16px;
	vertical-align: middle;
	margin: 0 18px 0 4px;
	padding: 0;
	background-color: #f7f7f7;
	border: 1px solid #6a9de6;
	border-radius: 2px;
	font-size: 0!important;
	color: #3e5267;
	cursor: default;
	transition: 200ms 350ms
}
.flair::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: -1px;
	left: -14px;
	background: url(%%ui-elements%%) 0 0/128px;
	border-radius: 2px
}
.flair:hover {
	width: auto;
	padding: 0 8px;
	font-size: x-small!important;
	transition-delay: 0s
}
/* default logo */
.flair-custom::before {background-position: 0 -96px}
/* verification styles/logos */
.flair-v-crunchy {border-color: #F78B24}
.flair-v-crunchy::before {background-position: -16px 0}
.flair-v-crunchy::after {content: " - Crunchyroll (Verified)"; color: #F78B24}
.flair-v-funi {border-color: #41009C}
.flair-v-funi::before {background-position: -16px -16px}
.flair-v-funi::after {content: " - Funimation (Verified)"; color: #41009C}
.flair-v-kitsu {border-color: #F65239}
.flair-v-kitsu::after {content: " - Kitsu (Verified)"; color: #F65239}
.flair-v-rightstuf {border-color: #EE314C}
.flair-v-rightstuf::before {background-position: -16px -32px}
.flair-v-rightstuf::after {content: " - Right Stuf (Verified)"; color: #EE314C}
/* list services */
.flair-MAL::before {background-position: 0 0}
.flair-HB::before {background-position: 0 -16px}
.flair-ANI::before {background-position: 0 -32px}
.flair-AP::before {background-position: 0 -48px}
.flair-ann::before {background-position: 0 -64px}
.flair-anidb::before {background-position: 0 -80px}

/** Mod use post flairs **/
.linkflair-misleading .linkflairlabel {
	color: #e02424!important;
	font-weight: 900;
	background: white!important;
	border: 1px solid currentcolor
}
.linkflair-green a.title,.linkflair-blue a.title {
	display: inline-block;
	padding: 2px 5px;
	border-radius: 5px
}
.linkflair-green a.title {
	background: #46b141;
	border: 1px solid #090;
	color: white!important
}
.linkflair-blue a.title {
	background: #6a9de6;
	border: 1px solid #557eb8;
	color: white!important
}
.linkflair-green a.title:hover {background: #090}
.linkflair-blue a.title:hover {background: #557eb8}

/** Post filter shit **/
[lang="xn"] .link.over18,
[lang="xf"] .link.linkflair-fanart,
[lang="xc"] .link.linkflair-cosplay,
[lang="xd"] .link.linkflair-clip,
[lang="xb"] .link.linkflair-fanart,
[lang="xb"] .link.linkflair-cosplay,
[lang="xa"] .link.over18,
[lang="xa"] .link.linkflair-fanart,
[lang="xa"] .link.linkflair-cosplay,
[lang="xa"] .link.linkflair-clip {display: none}
.linkflair-fanart .linkflairlabel,
.linkflair-cosplay .linkflairlabel,
.linkflair-clip .linkflairlabel, /* todo: why */
.linkflair-wt .linkflairlabel,
.linkflair-rewatch .linkflairlabel,
.linkflair-discussion .linkflairlabel {display: none}

/** Announcement banner **/
.side .md blockquote:first-child {
	position: absolute;
	top: 115px;
	left: 0;
	margin: 10px;
	padding: 0 10px;
	background: #6a9de6;
	border-left: 0;
	border-radius: 5px;
	color: #FFF;
	text-align: center;
	height: 35px;
	display: table;
	width: calc(100% - 361px)
}
.side .md blockquote:first-child p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: static;
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 15px;
	font-weight: 700
}
.side .md blockquote:first-child a {
	text-decoration: underline;
	color: inherit
}
.side .md blockquote:first-child a:hover {color: #EEE}

/** dropdown shit hype **/
/** TODO **/
.side [href*="#d#"]+em {
	position: absolute;
	top: 80px;
	height: 0;
	padding: 35px 0 0;
	line-height: 35px;
	z-index: 100;
	color: #FFF;
	overflow: hidden;
	pointer-events: none;
	transition: .2s 0s;
	border-radius: 0 0 5px 5px;
	font-size: 14px;
	font-style: normal;
	cursor: pointer;
	left: 445px
}
.side [href*="#d#"]+em:hover {
    transition: .2s .15s;
    height: calc(35px * 9) /* real men use manual calculations TODO */
}
.side [href*="#d#"]+em::after {
	content: "wiki";
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 10px;
	pointer-events: auto;
	width: 48px;
	background: url(%%ui-elements%%) -40px 15px/128px no-repeat padding-box content-box,border-box transparent
}
.side [href*="#d#"]+em:hover::after {background-color: #4c71a5}
.side [href*="#d#"]+em a {
	display: block;
	padding: 0 10px;
	color: #FFF;
	background: #4c71a5;
	pointer-events: auto
}
.side [href*="#d#"]+em a:hover {background: #446594}
.res-nightmode .side [href*="#d#"]+em a,
.res-nightmode .side [href*="#d#"]+em:hover::after {background-color: #273f5b!important}
.res-nightmode .side [href*="#d#"]+em a:hover {background: #172f4b!important}
:lang(en) .listing-page #header .tabmenu [href*="/wiki"],
:lang(en) .wiki-page #header .tabmenu [href*="/wiki"] {
	color: transparent;
	width: 48px
}
:lang(en) .comments-page .side [href$="#w"],
:lang(en) .comments-page .side [href$="#w"]+em {left: 173px}
:lang(en) .comments-page #header .tabmenu li:first-of-type {margin-right: 68px}
:lang(en) body:not(.listing-page):not(.comments-page):not(.wiki-page) .side .md [href$="#w"]+em {display: none}
.res-nightmode .side .md [href$="#wd"]+em {
	background: #273f5b!important
}
html:not(:lang(en)) .side [href$="#w"]+em {
	left: auto;
	right: 10px;
	width: 300px;
}
html:not(:lang(en)) .side [href$="#w"]+em:after {
	content: "Frequently Used Wiki Pages";
	background-image: none, none; /* TODO: reimplement the arrow here */
	width: 300px;
}

/** all the nightmode **/
.res-nightmode .side {
	background: url(%%side-bg-dark%%) top/4px #1f1f1f!important;
	border-color: #0f0f0f!important
}
.res-nightmode .titlebox,
.res-nightmode .linkinfo {
	box-shadow: inset 0 0 0 1px #0f0f0f;
	background: #2f2f2f!important
}
.res-nightmode .side .redditname,
.res-nightmode .sidecontentbox .title,
.res-nightmode .side .md-container .md h1,
.res-nightmode .sidecontentbox .content {background-color: #445f7e!important}
.res-nightmode .sidecontentbox .content {
	background: #2f2f2f!important;
	box-shadow: 0 -5px #445f7e;
	border-color: #0f0f0f!important
}
.res-nightmode .subscribe-button .option,
.res-nightmode .side a.helplink,
.res-nightmode .side .md h1 a {
	background: #2b4665!important;
	color: inherit
}
.res-nightmode .wiki-page .pageactions .wikiaction-current {background: #2b4665!important}
.res-nightmode .morelink a {
	background: #445f7e;
	color: #FFF!important
}
.res-nightmode #header .tabmenu .selected a::after {
	background: #2f2f2f;
	box-shadow: inset 2px 2px 2px -1px rgba(0,0,0,0.2), 1px 1px 1px #2f2f2f
}
.res-nightmode.res #header {background-color: #445f7e}
.res-nightmode #header-bottom-left {box-shadow: inset 0 -35px #2b4665}
.res-nightmode.res #sr-header-area {background-color: #2b4665}
.res-nightmode .morelink a:hover,
.res-nightmode .morelink a::after {background-color: #2b4665}
.res-nightmode .side .md blockquote:first-child {background-color: #445f7e!important}
.res-nightmode .wiki-page>.content>span {background-color: #445f7e}
.res-nightmode .content .link {border-color: #0f0f0f} /* bulky selector to override weird report res style */
.res-nightmode .link.RES-keyNav-activeThing {background: #373737}
.res-nightmode .submit-page {background: #1f1f1f!important}
.res-nightmode .submit-page>.content,
.res-nightmode .submit-page .content .content {background-color: transparent!important}
.res-nightmode .tabmenu.formtab a {background-color: #2f2f2f}
.res-nightmode .tabmenu.formtab .selected a {background-color: #445f7e!important}
.res-nightmode .submit-page .roundfield {
	background-color: #2f2f2f!important;
	border-color: #0f0f0f
}
.res-nightmode .reddit-infobar.with-icon::before {background-color: #2866a3}
.res-nightmode .side .md *:not(a):not(hr) {background: transparent!important}
.res-nightmode .nsfw-stamp,.res-nightmode .link .buttons .first::before {
	color: #FFF!important;
	border-color: #FFF
}
.side .md p:nth-last-of-type(2) {
	position: absolute;
	top: 125px;
	margin: 0 -11px;
	padding: 35px 0 0;
	background: #FFF;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #BBB;
	width: 35px;
	height: 0;
	overflow: hidden;
	transition: .2s 0s;
	z-index:1;
}
.side .md p:nth-last-of-type(2):hover {
	width: 200px;
	height: 65px;
	box-shadow: inset 0 0 0 1px #BBB,0 2px 4px rgba(0,0,0,.2);
    transition: .2s .15s;
}
.side .md p:nth-last-of-type(2) strong {
	position: absolute;
	top: 0;
	width: 130px;
	padding: 0 35px;
	background: #6a9de6;
	line-height: 35px;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	text-align: center
}
.side .md p:nth-last-of-type(2) strong:after {
	content: "";
	position: absolute;
	left: 0;
	background: url(%%ui-elements%%) 70px 70px/128px;
	width: 35px;
	height: 35px;
	transition: .2s
}
.side .md p:nth-last-of-type(2):hover strong:after {background-color: #557eb8}
.side .md p:nth-last-of-type(2) em,.side .md p:nth-last-of-type(2) a {
	display: block;
	line-height: 30px;
	font-size: 16px;
	text-align: center
}
.side .md p:nth-last-of-type(2) em {
	font-weight: bold;
	font-style: normal
}
.res-nightmode .side .md p:nth-last-of-type(2) {
	background: #2f2f2f!important;
	box-shadow: inset 0 0 0 1px #000
}
.res-nightmode .side .md p:nth-last-of-type(2) strong {background-color: #445f7e!important}
.res-nightmode .side .md p:nth-last-of-type(2):hover strong:after {background-color: #2b4665}

/** and here are comment faces and shit **/
.md [href^="#"] {
	display: inline-block;
	position: relative;
	background-image: url("%%brokencommentface%%");
	width: 120px;
	height: 152px;
	overflow: hidden
}
.md [href^="#"]:not([href="#s"]) {
	text-align: center;
	font-family: arial,sans-serif;
	font-size: 18px;
	color: white;
	text-shadow: 1px 1px #000,1px -1px #000,-1px 1px #000,-1px -1px #000,0 1px #000,0 -1px #000,1px 0 #000,-1px 0 #000;
	cursor: default
}
.md [href^="#"]:hover {color: white}
.md [href^="#"]:not([href="#s"])>strong {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 4px;
	font-weight: inherit
}
.md [href="#"],
.md [href^="#!"],
.md [href^="#res:"],
.md [href^="#/"],
.md [href^="#?"],
.md [href="#s"],
.md .toc [href] {
	display: inline!important;
	color: #0079d3!important;
	text-shadow: none!important;
	cursor: pointer!important;
	font-size: inherit!important;
	text-align: inherit!important;
	background: none!important;
	position: static!important;
	font-family: inherit!important;
	overflow: visible!important
}
.md .voteWeight[style*="none"] {display: none!important}
/** begin spritesheets, abandon all hope **/
.linkflair-green .linkflairlabel, .linkflair-blue .linkflairlabel {
	display: none
}
