// Applies nightmode styles to an element
@mixin nightmode {
	.res-nightmode & {
		@content;
	}
}

// Utility placeholders for commonly-used properties (saves some space this way)
%display-none {
	display: none;
}
%font-size-zero {
	font-size: 0;
}
%margin-zero {
	margin: 0;
}
