// Core spacing values
$base-spacing: 10px;
$base-spacing-small: 5px;
$base-border-width: 1px;
$base-border-radius: 5px;
$base-border-radius-small: 3px;

// Colors

// "Brand" colors
$primary-color: #6A9DE6;
$primary-color-nightmode: #445F7E;

// We construct the secondary color from the primary color and a black overlay
$darken-ratio: 0.2;
$secondary-color: mix($primary-color, black, 100% * (1 - $darken-ratio));
$darken-ratio-nightmode: 0.3;
$secondary-color-nightmode: mix($primary-color-nightmode, black, 100% * (1 - $darken-ratio));

// We can also achieve the secondary color by adding a shadow to the primary
$primary-secondary-shadow: rgba(0, 0, 0, $darken-ratio);
$primary-secondary-shadow-nightmode: rgba(0, 0, 0, $darken-ratio-nightmode);

$base-background-color: #FFF;
$separator-color: #CFCFCF;
$separator-color-light: #EFEFEF;

$light-text-color: #FFF;
$dark-text-color: #000;
$link-color: $secondary-color;
$link-hover-color: #244573;
$text-on-primary-color: $light-text-color;
$text-on-secondary-color: $light-text-color;

// Basic element dimensions
$header-height: 115px;
$header-tabmenu-height: 35px;
$header-snoo-width: 74px;
$header-snoo-height: 90px;
$header-snoo-padding-horizontal: 5px;
$sidebar-section-header-height: 35px;
$sidebar-control-height: 35px;

// Image customization and stuff
$header-background: $primary-color; 
$sidebar-background: repeating-linear-gradient(45deg, #f7f7f7, #f7f7f7 2px, #e9e9e9 2px, #e9e9e9 2.8px) 0/4px 4px;

// Derived variables

// Horizontal padding of each tabmenu link
$header-tabmenu-padding-horizontal: $base-spacing;

// The appearance of the outer sidebar border
$sidebar-border-width: $base-border-width;
$sidebar-border-radius: $base-border-radius;
$sidebar-border-color: $separator-color;
$sidebar-padding: $base-spacing;

// The appearance of individual sections within the sidebar
$sidebar-section-background: $base-background-color;
$sidebar-section-border-width: $base-border-width;
$sidebar-section-border-radius: $base-border-radius;
$sidebar-section-border-color: $separator-color;
$sidebar-section-padding: $base-spacing;
$sidebar-section-margin-vertical: $sidebar-padding;

// The search bar
$sidebar-search-height: $sidebar-control-height;
$sidebar-search-border-width: $sidebar-section-border-width;
$sidebar-search-border-radius: $sidebar-section-border-radius;
$sidebar-search-border-color: $sidebar-section-border-color;

// Submit buttons
$sidebar-button-primary-color: $primary-color;
$sidebar-button-secondary-color: $secondary-color;

// Sidebar section headers
$sidebar-section-header-background-color: $primary-color;
$sidebar-section-header-text-color: $light-text-color;
$sidebar-section-header-margin-vertical: $base-spacing;
$sidebar-section-header-button-background-color: $secondary-color;

// The "a community for X years" bit at the bottom of the sidebar
$sidebar-subreddit-age-padding-vertical: $base-spacing-small;

// you really don't want to change this one, too much baked-in sidebar content relies on having 300px to work with
$sidebar-width: 300px + 2 * $sidebar-padding + $sidebar-border-width;
