[app]
scope = wikiedit,modconfig
refreshable = True

# Fill these 2 out
app_key = AppClientId
app_secret = AppSecret

[server]
server_mode = True
url = 127.0.0.1
port = 65010
redirect_path = authorize_callback
link_path = oauth

# Don't mess with this, the bot will get them automatically
[token]
token = None
refresh_token = None
valid_until = 0
