/* general TODO: merge single-statement rules like margin:0 */

/** Base styles **/

// 1rem = 10px
// TODO: actually use this in places
html {font-size: 62.5%}

// Reset some margins
body > .content {
	margin: 0;
	padding: 55px 0 10px;
}

// Get rid of unnecessary backgrounds that Reddit applies
body > .content,
.side .titlebox form.toggle,
.side .leavemoderator,
.sidebox,
.sidebox .spacer,
.icon-menu a,
#sr-header-area * {
	background-color: transparent !important;
}

// Generic elements with rounded corners
.infobar, .rounded, .reddit-infobar {
	border-radius: 5px;
}

// Leave space for the sidebar next to infobars at the top of the page
.infobar {
	margin-right: $sidebar-width;
}

// Special infobars have different styles for some reason
.reddit-infobar {
	margin: 0 ($sidebar-width + 10px) 10px 10px;
}

// Make the "Welcome to Reddit" banners full-width
.infobar.welcome, .infobar.listingsignupbar {
	margin: 0;
	border-radius: 0;
	border-left: 0;
	border-right: 0;
}
.infobar.listingsignupbar {
	margin: 0 !important;
	height: 120px;
	border-top: 1px solid #EFEFEF;
}
.listingsignupbar__container { padding: 28px 18px }

// Base nightmode text coloring
/*.res-nightmode :not(time):not(select):not(option),*/
.res-nightmode .pagename a {color: #FFF}
.res-nightmode body,
.res-nightmode body>.content {background: #2f2f2f!important}


/** Page header **/
#header {
	height: 115px;
	background-color: #6a9de6;
	background-repeat: repeat-x;
	background-size: auto 115px;
	border-bottom: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2)
}
#sr-header-area {
	background: rgba(0, 0, 0, 0.2);
	border-bottom: 0;
	color: #FFF;
/* 	text-transform: none; */
/* 	font-size: 12px; */
/* 	line-height: 18px */
}
.dropdown.srdrop .selected {
	color: #FFF;
	background-image: none;
/*	padding-right: 0; */
/*	margin: 0 */
}
.dropdown.srdrop .selected::after {
/* 	content: " | "; */
	white-space: pre;
	padding: 0 .7ex;
	color: #FFF
}
#sr-header-area .separator,
.sr-bar a {
	color: #FFF !important;
}
#sr-header-area *,
#sr-more-link,
.res #RESShortcutsEditContainer,
.res #RESShortcutsSort,
.res #RESShortcutsRight,
.res #RESShortcutsLeft,
.res #RESShortcutsAdd,
.res #RESShortcutsTrash {
	color: #FFF;
}
#sr-header-area .drop-choices {
	border: 0;
	background: #557EB8  !important;
}
html #sr-header-area a.RESShortcutsCurrentSub {
	color: inherit!important;
	text-decoration: underline
}
#header-bottom-left {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	box-shadow: inset 0 -35px rgba(0, 0, 0, 0.2);
}
#header-img-a {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 2px
}
#header-img,
#header-img-a:after {
	position: relative;
	margin: 0;
	display: block;
	z-index: 99;
	width: 74px;
	height: 90px;
}
.pagename {
	position: absolute;
	bottom: 37px;
	left: 88px;
	display: block;
	color: #FFF;
	font-weight: 400;
	text-transform: capitalize;
	font-variant: normal;
	font-size: 34px;
	font: normal 34px "Helvetica","Arial",sans-serif;
}
.pagename a {color: inherit}
#header .tabmenu {
	height: 35px;
	position: absolute;
	bottom: 0;
	padding-left: 75px;
}
#header .tabmenu li {
	display: inline-block;
	margin: 0
}
#header .tabmenu a {
	display: inline-block;
	padding: 0 10px;
	background: transparent;
	border: 0;
	color: #FFF;
	font-size: 14px;
	line-height: 35px;
	font-weight: 400;
	height: 35px;
	position: relative
}
#header .tabmenu a:hover {background: rgba(0,0,0,.1)}
#header .tabmenu .selected a::after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	width: 12px;
	height: 12px;
	background: #FFF;
	box-shadow: inset 2px 2px 2px -1px rgba(0,0,0,0.2),1px 1px 1px #FFF
}
#header-bottom-right {
	bottom: 35px;
	right: 0;
	padding: 5px 10px;
	background-color: transparent!important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 5px
}
#header-bottom-right span,
#header-bottom-right a {color: #FFF}
.side {
	margin: 0;
	padding: 10px;
	width: 300px;
	background: url(%%side-bg%%) top/4px #f7f7f7;
	border: 1px solid #cfcfcf;
	border-top: 0;
	border-right: 0;
	border-bottom-left-radius: 5px;
}
.side>.spacer {margin: 0}
.side>.spacer+.spacer {margin-top: 10px}
.titlebox,.linkinfo {
	background: #FFF;
	padding: 11px;
	border: 0;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #cfcfcf;
	overflow: hidden
}
.side .redditname {
	margin: -11px -11px 10px;
	padding: 0 8px;
	background: #6a9de6;
	height: 35px;
	font-weight: normal;
	font-size: 18px;
    line-height: 35px;
	text-transform: capitalize;
	color: #FFF;
	overflow: hidden;
	font-weight: 700
}
.side .redditname a {color: inherit}
.subscribers {display: block;}
.side .subscribe-button {
	position: relative;
	width: 200px;
	text-align: right;
	display: block;
	margin-top: -37.5px;
	left: 81px;
	margin-bottom: 20px
}
.side .subscribe-button .option {
	width: 100%;
	height: 100%;
	border: 0;
	background: #557eb8;
	padding: 3px 5px
}
.side .titlebox .res-fancy-toggle-button {
	border: 0;
	background: #557eb8;
	color: #FFF;
	padding: 3px 5px;
	line-height: 1
}
.res-sr-style-toggle {
	float: left;
	width: 100%;
	padding-top: 0!important
}
span.multi-count {margin: 0!important}
.users-online {
	display: inline;
}
.titlebox .word {
	@extend %display-none;
}
.titlebox .bottom {
	border-color: #cfcfcf;
	margin: 10px 0 -10px;
	padding: 5px 0;
	font-size: 0
}
.res-nightmode .titlebox .bottom {border-color: #000}
.titlebox .bottom .author::after {font-size: 0}
.titlebox .bottom .flair {
	@extend %display-none;
}
.titlebox .bottom .age {
	font-size: x-small;
	float: none;
	display: block;
	text-align: center
}
.sidecontentbox .title {
	background: #6a9de6;
	margin-bottom: 0;
	border-radius: 5px;
	padding: 0 0 0 10px;
	position: relative;
	line-height: 35px
}
.sidecontentbox .title h1 {
	color: #FFF;
	text-transform: lowercase;
	font-size: 1.3rem
}
.sidecontentbox .content {
	background: #FFF;
	border: 1px solid #cfcfcf;
	border-top: 0;
	box-shadow: 0 -5px #6a9de6;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px
}
.sidebox.create {
	@extend %display-none;
}

/* Common small buttons and stuff */
/* TODO: Also integrate subscribe button */
.side .md h1,
.sidecontentbox .title {
	padding: 0 0 0 8px !important;
	line-height: 35px;
}
.sidecontentbox a.helplink,
.side .md h1 a,
.sidecontentbox .title .collapse-button {
	color: #FFF;
	background: #557eb8;
	font-family: "Verdana",sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 13px;
	padding: 3px 5px;
	border: 0;
	border-radius: 3px;
	margin: 8px 8px 8px 0;
	float: right;
	width: auto;
	height: auto;
   	position: relative;
	z-index: 1;
}


#search input[type="text"] {
	height: 35px;
	background: #FFF;
	color: #000;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	box-shadow: none !important; /* mobile safari override, smh */
	padding: 0 40px 0 10px;
	line-height: 30px;
}
.res-nightmode #search input[type="text"] {
	background: #2f2f2f!important;
	border-color: #0f0f0f
}
#search input[type="text"]:focus {
	border-color: #6a9de6;
	outline: 0;
	box-shadow: 0 0 3px #6a9de6;
	transition: 200ms;
}
#searchexpando {
	margin-top: 10px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	width: 280px;
	border-radius: 5px
}
#searchexpando>p {margin: 0}
.morelink {
	border: 0;
	background-image: none!important;
	background-color: transparent!important;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0;
	height: auto;
	position: relative;
	top: 0;
	transition: top 200ms
}
.morelink .nub {
	@extend %display-none;
}
.morelink a {
	color: #FFF;
	display: block;
	padding: 0 34px 0 10px;
	width: auto;
	height: 35px;
	line-height: 35px;
	background: #6a9de6;
	border-radius: 5px;
	transition: background-color 200ms,box-shadow 200ms;
	box-shadow: 0 0 rgba(0,0,0,.1)
}
.morelink a::after {
	content: "";
	display: block;
	position: absolute;
	width: 35px;
	height: 35px;
	top: 0;
	right: 0;
	background: url(%%ui-elements%%) -58px -93px/128px no-repeat,#557eb8;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px
}
.submit-text .morelink a::after {background-position: -93px -58px}
.morelink:hover {top: -2px}
.morelink:hover:active {top: 1px}
.morelink:hover a {
	background: #557eb8;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2)
}
.ad300x250,.sponsor-300-250 {border-radius: 5px}
.side::after {
	content: "(✿◠‿◠) ~<3";
	display: block;
	margin: 10px 0 0;
	text-align: center;
	color: gray
}
.infobar.newsletterbar {
	margin: 0 10px 10px;
	width: calc(100% - 341px);
	border-radius: 5px
}
.login-form-side {
	border-color: #cfcfcf;
	background: #FFF;
	border-radius: 5px
}
.listing-page .menuarea {
	border-top: 1px solid #efefef;
	margin: 0 0 -1px;
	padding: 10px;
	background: #f7f7f7;
	border-bottom: 1px solid #efefef
}
.thing .arrow {background: url(%%ui-elements%%) 0 0/128px!important}
.thing .arrow.up {background-position: -98px 0!important}
.thing .arrow.down {background-position: -98px -14px!important}
.thing .arrow.upmod {background-position: -113px 0!important}
.thing .arrow.downmod {background-position: -113px -14px!important}
.link.RES-keyNav-activeThing {background: #f0f3fc}
// Link body styles
.link,
.organic-listing .link.promotedlink {
	margin: 0;
    border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	padding: 5px 0;
}
.link ~ .link:not(.last-clicked) {border-top: 0}
.link.last-clicked {
	border-left: 0;
	border-right: 0;
}
.link ~ .link.last-clicked {margin-top: -1px}
.link .thumbnail {
	margin: 0 10px 0 0;
	min-width: 70px
}
.link .entry {
	margin: 0;
	padding: 0
}
.link .expando {
    margin-right: 10px;
}
.link a.title {color: #333}
.link a.title:hover {color: #567}
.link .title:visited,.link.visited a.title {color: #888}
.link .title:visited:hover,.link.visited a.title:hover {color: #a0a8af}
.link .usertext-body .md {
	background: #f7f7f7;
	border-color: #cfcfcf
}
/* links pinned to top of page - v.redd.it */
.pinnable-content.pinned {
	background: #FFF !important;
	border-bottom: 1px solid #CFCFCF;
}
.pinned .thing { border: 0 }
.pinned .thumbnail { margin: 0 }

.organic-listing {
	margin: 0;
	border: 0;
	border-top: 1px solid #cfcfcf;
}
.organic-listing .help {margin: 5px}
body>.content .spacer {margin: 0}
.organic-listing .sponsored-tagline {margin: 5px 0}
.promotedlink .thumbnail {border-radius: 5px}
.gold-accent.comment-visits-box {display: block}
.comment .midcol {
	margin: 0;
	padding: 0;
	box-sizing: content-box
}
.comment .entry {
	margin: 0 0 10px;
	padding: 0 10px
}
.comment .entry .tagline {display: block}
.comment .entry .md {
	margin: 0;
	padding: 5px 0
}
.commentarea {padding: 0 5px}
.commentarea > .sitetable { padding: 0 5px }
.comment {
    position: relative;
    margin: 0;
    padding-left: 25px;
    overflow: hidden;
}
/* Collapse buttons going down the sides */
.comment .expand {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 15px;
    font-size: 0;
}
.comment .expand:before {
    content: "";
    position: absolute;
    top: 17px;
    bottom: 10px;
    left: 7px;
    border-left: 1px dotted #B7B7B7;
}
.comment .expand::after {
    content: "[–]";
    font-size: 10px;
    position: absolute;
    width: 19px;
    height: 15px;
    top: 0;
    left: -2px;
    text-align: center;
    line-height: 15px;
    color: #B7B7B7;
}
.comment .expand:hover:before {
    border-left: 1px solid #6A9DE6;
}
.comment .expand:hover:after {
    color: #6A9DE6;
}
.comment.collapsed .expand:after { content: "[+]" }
.comment.collapsed .expand { bottom: 20px }
.comment.collapsed { padding: 0 }
/* Fix RES expando images overflowing under the sidebar in comments */
.res-image img {
    max-width: 100%!important;
}
/* Other spacing */
.comment .child {
    border: 0;
    margin: 0;
}
.res.res-commentBoxes .comment {
    padding: 5px 5px 5px 25px !important;
    margin-left: 0 !important;
}
.res.res-commentBoxes .comment.collapsed .entry { margin: 0 }
.res.res-commentBoxes .comment .expand {
    top: 0;
    left: 0;
    width: 20px;
    cursor: pointer;
}
.res.res-commentBoxes .comment.collapsed .expand { bottom: 0 }
.res.res-commentBoxes .comment .expand::after {
    top: 4px;
    left: 3px;
}
.res.res-commentBoxes .comment .expand::before {
    top: -5px;
    bottom: 0;
    left: 0;
    border-width: 0;
}
.res.res-commentBoxes .comment .expand:hover::before {
    border-left-width: 1px;
}
body .NERPageMarker,body #progressIndicator {
	background: #f7f7f7;
	margin: 0;
	padding: 5px;
	border-radius: 0;
	border: 0
}
body .NERPageMarker:before,body .NERPageMarker:after {
	content: " — ";
	opacity: .5
}
body .NERPageMarker .gearIcon {
	position: relative;
	bottom: 2px;
	margin-right: 2px
}
body #progressIndicator {
	padding: 10px;
	border-bottom: 1px solid #EFEFEF
}
#progressIndicator:hover {background: #EFEFEF}
.res-nightmode #progressIndicator, .res-nightmode.listing-page .menuarea {
    background: #252525 !important;
    border-color: #000 !important;
}
/** Thumbnail shit **/
.thumbnail.self {background: 0 -560px}
.thumbnail[href*="recom"] {background: 0 -350px}
.thumbnail[href*="cosplay"] {background: 0 -0px}
.thumbnail[href*="satire"] {background: 0 -490px}
.thumbnail[href*="/wt"] {background: 0 -700px}
.linkflair-green .thumbnail {background: 0 -210px}
.thumbnail[href*="fanart"] {background: 0 -140px}
.thumbnail[href*="spoiler"],
.thumbnail.spoiler {background: 0 -630px}
.thumbnail[href*="spoiler"][href*="episode"],
[data-author="AutoLovepon"] .thumbnail {background: 0 -70px}
.thumbnail[href*="rewatch"] {background: 0 -420px} /* blaze it lmao */
.thumbnail.nsfw {background: 0 -280px}
[data-author="AutoModerator"] .thumbnail {background: 0 -770px}
.thumbnail.self,
.thumbnail.nsfw,
.thumbnail.spoiler {
	background-image: url(%%thumbnail%%)!important;
	height: 70px
}

/** Title colors **/
.spoiler a.title:link {color: #cd0000}
.res-nightmode .spoiler a.title:link {color: red}
.spoiler a.title:visited {color: #600!important}
.linkflair-fanart a.title:link {color: #005900!important}
.linkflair-fanart a.title:visited {color: #003e00!important}
.res-nightmode .linkflair-fanart a.title:link {color: #019b00!important}
.res-nightmode .linkflair-fanart a.title:visited {color: #347b34!important}
.linkflair-wt a.title:link {color: #b29600!important}
.linkflair-wt a.title:visited {color: #473c00!important}
.linkflair-rewatch a.title:link {color: #09f!important}
.linkflair-rewatch a.title:visited {color: #003d66!important}
.linkflair-writing-club a.title:link {color: #E55A76 !important}
.linkflair-writing-club a.title:visited {color: #AF1C3A !important}

/** Submit shit **/
.submit-page>.content {
	margin: 0 auto;
	padding-right: 321px;
	width: 520px
}
.submit-page .content>h1 {
	margin: 10px 0 20px;
	text-align: center
}
#newlink {margin: 0}
.submit-page .formtabs-content {
	border: 0;
	display: flex;
	flex-direction: column
}
.submit-page .formtabs-content .spacer:nth-last-child(3) {order: -1}
#text-field .title:before {
	content: "*";
	color: red
}
#text-desc {font-size: 0}
#text-desc:after {
	content: 'You are submitting a text-based post. Speak your mind. A title and a text body are both required. Beginning your title with "vote up if" is violation of intergalactic law.';
	font-size: small
}
#text-field .roundfield-description {
	@extend %display-none;
}
.submit-page ul.formtab {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between
}
.submit-page ul.formtab li {
	display: block;
	flex: 0 1 calc(50% - 5px)
}
.submit-page ul.formtab a,.submit-page ul.formtab .selected a {
	display: block;
	text-align: center;
	font-size: 18px;
	line-height: 35px;
	text-transform: capitalize;
	border: 0;
	background: #6a9de6;
	color: #FFF;
	border-radius: 5px;
	position: relative;
	top: 0;
	transition: 200ms;
	z-index: 1
}
.submit-page ul.formtab .selected a {
	top: -2px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	font-size: 18px
}
.submit-page .roundfield {
	width: 498px;
	border: 1px solid #BBB;
	background: #f7f7f7;
	margin-bottom: 10px
}
.submit-page .formtabs-content .infobar {margin-bottom: 10px}
.submit-page .roundfield.info-notice {padding: 10px}
.submit-page .roundfield textarea,
.submit-page .roundfield input:not([type=checkbox]):not([type=radio]),
.submit-page .roundfield .usertext-edit {width: calc(100% - 8px)!important}
.submit_text.enabled {display: block}
.c-form-group:empty {margin-bottom: 0}

/** Wiki **/

.sheets { margin-right: 321px }
.wiki-page .wiki-page-content {margin: 25px 356px 0 35px}
.wiki-page>.content {margin-top: 0}
.wiki-page>.content>span {
	display: block;
	margin: 0 331px 10px 10px;
	padding: 0 10px;
	background: #6a9de6;
	color: #FFF;
	border-radius: 5px;
	position: relative
}
.wiki-page .wikititle {
	margin: 0;
	font: inherit;
	font-size: large;
	line-height: 35px;
	color: inherit
}
.wiki-page .pageactions {
	float: right;
	border: 0;
	margin: 0
}
.wiki-page .pageactions .wikiaction,.wiki-page .pageactions .wikiaction-current {
	margin: 0;
	border-radius: 0;
	line-height: 35px;
	padding: 0 10px;
	color: #FFF;
	text-transform: capitalize;
	background: transparent!important
}
.wiki-page .pageactions .wikiaction-current {background-color: rgba(0,0,0,0.15)!important}
.wiki-page .pageactions .wikiaction:hover {text-decoration: underline}
.wiki-page .md.wiki>* {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem
}
.md.wiki .toc+* {margin-top: 0}
.md.wiki hr {
	background: #cfcfcf;
	height: 1px
}
.wiki-page .wiki-page-content .wiki>.toc>ul {
	border-color: #cfcfcf;
	border-radius: 5px;
	padding: 10px 15px
}
.wiki-page .wiki-page-content .wiki>.toc>ul li {
	line-height: 1;
	margin: 5px 0
}
.wiki-page .wiki-page-content .wiki>.toc>ul ul {
	border-left: 1px dotted #cfcfcf;
	padding: 0 15px;
	margin: 0
}
.res-nightmode .wiki-page .wiki-page-content .wiki>.toc>ul {border-color: #000}
.res-nightmode .wiki-page .wiki-page-content .wiki>.toc>ul ul {border-color: #8cb3d9}
/* Diffs */
.diff th, .diff td {
	padding: 0 5px;
	line-height: 18px;
}
.diff tbody tr:nth-child(2n) { background: rgba(0.5,0.5,0.5,0.03) }

/** Gemeral markdown **/
.md h1 {
	font-size: 2.15em;
	margin: 1rem 0;
	font-weight: inherit
}
.md h2 {
	font-size: 1.5em;
	margin: 1rem 0;
	font-weight: bold
}
.md hr {
	margin: 1em 0;
	height: 1px;
	background-color: #cfcfcf
}
.res-nightmode .md hr {
	background-color: #000 !important
}
.md p {
	margin: .5em 0
}
.md blockquote {
	border-color: #cfcfcf
}
/* Link styles */
.md a,
.tagline a {
	color: #557eb8;
}
.md a:hover,
.tagline a:hover {
	color: #244573;
	text-decoration: underline;
}
.res-nightmode .md a:hover,
.res-nightmode .tagline a:hover {
	color: #b8d0e8;
}

/* Sidebar markdown headings */
.side .md h1 {
	background: #6a9de6;
	margin: 10px -11px;
	color: #FFF;
	font-size: 1.5em;
	font-weight: bold
}
/* Sidebar fullwidth tables */
.side .md table {
	width: calc(100% + 20px);
	margin: 10px -10px;
	table-layout: fixed;
}
.side .md td,
.side .md th {
	border-color: #CFCFCF;
	border-left: 0;
}
.side .md tr :last-child {
	border-right: 0;
}
/* Tables right after headings bump up against the heading */
.side .md h1 + table {
	margin-top: -10px;
}
.side .md h1 + table th {
	border-top: 0;
}
/* Column widths */
.side table:first-of-type th:nth-child(2),
.side table:nth-of-type(2) th:last-child {
  width: 40px;
}
.side table:first-of-type th:last-child {
  width: 70px;
}

/** spoiler hype **/
a[href="/s"],
a[href*="/s?"] {
	color: #fff!important;
	background: #000;
	padding: 1px 0 1px 3px;
	cursor: text;
	border-radius: 2px;
}
a[href="/s"]:hover,
a[href*="/s?"]:hover {
	color: #f44!important;
	text-decoration: none;
}
a[href="/s"]::after,
a[href*="/s?"]::after {
	content: attr(title);
	background: inherit;
	color: #000;
	padding: 0 10px;
}
a[href="/s"]:hover::after,
a[href="/s"]:active::after,
a[href*="/s?"]:hover::after,
a[href*="/s?"]:active::after {color: #FFF}
/* QoL for mobile desktop users */
a[href="/s"]:active,
a[href*="/s?"]:active {
    pointer-events: none;
}

/** List flairs **/
.flair {
	height: 16px;
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	padding: 0 0 0 16px;
	background-color: #f7f7f7 !important;
	border: 0;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px currentcolor;
	font-size: 0 !important;
	color: #3e5267 !important;
	cursor: default;
	transition: 200ms 350ms;
	overflow: visible !important;
}
.flair:before {
	content: "";
	width: 16px;
	height: 16px;
	background: url(%%ui-elements%%) 0 0/128px;
	border-radius: inherit;
	margin-left: -16px;
	transition: inherit;
}
.flair:hover {
	width: auto;
	padding-right: 4px;
	font-size: x-small !important;
	transition-delay: 0s
}
.flair:hover:before {
	margin-right: 4px;
}
// List services
.flair-MAL::before {background-position: 0 0}
.flair-HB::before {background-position: 0 -16px}
.flair-ANI::before {background-position: 0 -32px}
.flair-AP::before {background-position: 0 -48px}
.flair-ann::before {background-position: 0 -64px}
.flair-anidb::before {background-position: 0 -80px}
.flair-custom::before {background-position: 0 -96px}
// Verification/service logo styles
.flair-v-crunchy {border-color: #F78B24}
.flair-v-crunchy::before {background-position: -16px 0}
.flair-v-crunchy::after {content: " - Crunchyroll (Verified)"; color: #F78B24}
.flair-v-funi {border-color: #41009C}
.flair-v-funi::before {background-position: -16px -16px}
.flair-v-funi::after {content: " - Funimation (Verified)"; color: #41009C}
.flair-v-kitsu {border-color: #F65239}
.flair-v-kitsu::after {content: " - Kitsu (Verified)"; color: #F65239}
.flair-v-rightstuf {border-color: #EE314C}
.flair-v-rightstuf::before {background-position: -16px -32px}
.flair-v-rightstuf::after {content: " - Right Stuf (Verified)"; color: #EE314C}
.flair-v-otaquest {border-color: #000}
.flair-v-otaquest::before {background-position: -16px -48px}
.flair-v-otaquest::after {content: " - OTAQUEST (Verified)"; color: #000}
.flair-v-gkids {border-color: #000}
.flair-v-gkids::before {background-position: -16px -64px}
.flair-v-gkids::after {content: " - GKIDS (Verified)"; color: #000}
.flair-v-trigger {border-color: #000}
.flair-v-trigger::before {background-position: -16px -80px}
.flair-v-trigger::after {content: "- TRIGGER (Verified)"; color: #000}
.flair-v-ea {border-color: #4d4d4d}
.flair-v-ea::before {background-position: -16px -96px}
.flair-v-ea::after {content: " - Eleven Arts (Verified)"; color: #4d4d4d}
.flair-v-lan {border-color: #29362d}
.flair-v-lan::before {background-position: -16px -112px}
.flair-v-lan::after {content: " - Studio LAN (Verified)"; color: #29362d}
.flair-v-kadokawa {border-color: #2C3086}
.flair-v-kadokawa::before {background-position: -32px 0}
.flair-v-kadokawa::after {content: " - Kadokawa (Verified)"; color: #2C3086}
.flair-v-fathomevents {border-color: #FF7006}
.flair-v-fathomevents::before {background-position: -32px -48px}
.flair-v-fathomevents::after {content: " - Fathom Events (Verified)"; color: #FF7006}
// Awards flairs!
.flair-a-amq {border-color: #67B5EF}
.flair-a-amq::before {background-position: -32px -64px}
.flair-a-amq::after {content: " - 1mil celebration AMQ participant!"; color: #67B5EF}

/* Reset things for other flair */
[class="flair flair-skip7"] {
	@extend %display-none;
}

/** Post flairs **/
.linkflairlabel {
	vertical-align: middle;
	border: none;
	font-size: 12px;
	text-align: center;
	padding: 2px 6px;
	position: relative;
	top: -2px;
	margin-top: 1px;
	border-radius: 5px;
	height: 16px;
	line-height: 16px;
	color: #FFF !important; // !important for nightmode
}

// Colors pulled from redesign, !important for nightmode
.linkflair-discussion     .linkflairlabel {background: #7193FF !important}
.linkflair-rewatch        .linkflairlabel {background: #0079D3 !important}
.linkflair-official-media .linkflairlabel {background: #0AA18F !important}
.linkflair-news           .linkflairlabel {background: #FF4500 !important}
.linkflair-video          .linkflairlabel {background: #CC3600 !important}
.linkflair-fanart         .linkflairlabel {background: #73AD34 !important}
.linkflair-fanart-oc      .linkflairlabel {background: #94e044 !important}
.linkflair-fanart-misc    .linkflairlabel {background: #349e48 !important}
.linkflair-cosplay        .linkflairlabel {background: #CC5289 !important}
.linkflair-wt             .linkflairlabel {background: #CCAC2B !important}
.linkflair-writing        .linkflairlabel {background: #DDBD37 !important}
.linkflair-clip           .linkflairlabel {background: #00A6A5 !important}
.linkflair-satire         .linkflairlabel {background: #6B6031 !important}
.linkflair-question       .linkflairlabel {background: #9E8D49 !important}
.linkflair-contest        .linkflairlabel {background: #007373 !important}
.linkflair-misc           .linkflairlabel {background: #646D73 !important}
.linkflair-writing-club   .linkflairlabel {background: #E55A76 !important}
.linkflair-episode        .linkflairlabel {background: #005BA1 !important}
.linkflair-weekly         .linkflairlabel {background: #FF56CC !important}
.linkflair-recommendation .linkflairlabel {background: #373C3F !important}
.linkflair-meme           .linkflairlabel {background: #800080 !important}

/* "Misleading" flair - meant to be edited to make corrections to titles */
.linkflair-misleading .linkflairlabel {
	color: #e02424!important;
	font-weight: 900;
	background: white!important;
	max-width: none;
	box-shadow: inset 0 0 0 1px currentcolor;
}

/* Announcement/AMA flairs */
.linkflair-green .linkflairlabel,
.linkflair-blue .linkflairlabel,
.linkflair-red .linkflairlabel,
.linkflair-palered .linkflairlabel {
	@extend %display-none;
}
.linkflair-green a.title,
.linkflair-blue a.title,
.linkflair-red a.title,
.linkflair-palered a.title {
	display: inline-block;
	padding: 2px 5px;
	border-radius: 5px;
	color: white !important;
}
.linkflair-green a.title {
	background: #46b141;
	border: 1px solid #090;
}
.linkflair-blue a.title {
	background: #6a9de6;
	border: 1px solid #557eb8;
}
.linkflair-red a.title {
	background: #de3954;
	border: 1px solid #ce223e;
}
.linkflair-palered a.title {
	background: #e97b8d;
	border: 1px solid #e35970;
}
.linkflair-green a.title:hover { background: #090 }
.linkflair-blue a.title:hover { background: #557eb8 }
.linkflair-red a.title:hover { background: #ce223e }
.linkflair-palered a.title:hover { background: #e35970 }
.linkflair-palered a.title:before { content: "[Finished] " }
.linkflair-ongoing a.title:before { content: "[Ongoing] " }

/*
 * Post filter stuff
 * xn - No NSFW
 * xs - No Spoilers
 * xb - No News
 * xf - No Fanart
 * xc - No Cosplay
 * xd - No Clips
 * xm - No Official Media
 * xq - No Questions
 * xr - No Recommendations
 * xa - No "Light Media" (Fanart, Cosplay, Clips, Official Media, Questions, Recommendations)
 */
:lang(xn) .link.over18,
:lang(xs) .link.spoiler,
:lang(xb) .link.linkflair-news,
:lang(xf) .link.linkflair-fanart,
:lang(xf) .link.linkflair-fanart-oc,
:lang(xf) .link.linkflair-fanart-misc,
:lang(xc) .link.linkflair-cosplay,
:lang(xd) .link.linkflair-clip,
:lang(xm) .link.linkflair-official-media,
:lang(xq) .link.linkflair-question,
:lang(xr) .link.linkflair-recommendation,

:lang(xa) .link.linkflair-fanart,
:lang(xa) .link.linkflair-fanart-oc,
:lang(xa) .link.linkflair-fanart-misc,
:lang(xa) .link.linkflair-cosplay,
:lang(xa) .link.linkflair-clip,
:lang(xa) .link.linkflair-official-media,
:lang(xa) .link.linkflair-recommendation,
:lang(xa) .link.linkflair-question {
	@extend %display-none;
}

/** Discord button **/
.side [href*="discord.gg"] {
  display: block;
  color: #FFF;
  padding-right: 9px;
  font-weight: bold;
  line-height: 20px;
  background: #6A9DE6;
  position: relative;
  top: 0;
  line-height: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}
.side [href*="discord.gg"]:hover {
  color: #FFF;
  background: #557eb8;
  top: -2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.side [href*="discord.gg"]:before {
  content: "";
  width: 45px;
  height: 44px;
  display: block;
  background: url(%%discord%%) 50%/contain no-repeat;
}
.side [href*="discord.gg"] em {
  display: block;
  font-weight: normal;
  opacity: 0.8;
}
.side [href*="discord.gg"]:hover em {
  text-decoration: underline;
}

/*Watch Macross btw*/
/*.RESMacroDropdownTitle: before{content:"Super Dimension Fortress "} */

/** all the nightmode **/
.res-nightmode #header-img-a:after {
    content: '';
    background: url(%%evilsnoo%%) bottom/contain;
}
.res-nightmode #header-img {
    @extend %display-none;
}
.res-nightmode .side {
	background: url(%%side-bg-dark%%) top/4px #1f1f1f !important;
	border-color: #0f0f0f !important;
}
.res-nightmode .titlebox,
.res-nightmode .linkinfo {
	box-shadow: inset 0 0 0 1px #0f0f0f;
	background: #2f2f2f !important;
}
.res-nightmode .side .redditname,
.res-nightmode .sidecontentbox .title,
.res-nightmode .side .md-container .md h1,
.res-nightmode .sidecontentbox .content {background-color: #445f7e !important}
.res-nightmode .sidecontentbox .content {
	background: #2f2f2f !important;
	box-shadow: 0 -5px #445f7e;
	border-color: #0f0f0f !important;
}
.res-nightmode .subscribe-button .option,
.res-nightmode .side a.helplink,
.res-nightmode .side .md h1 a,
.res-nightmode .sidecontentbox .title .collapse-button {
	background: #2b4665!important;
	color: inherit
}
.res-nightmode .wiki-page .pageactions .wikiaction-current {background: #2b4665!important}
.res-nightmode .morelink a {
	background: #445f7e;
	color: #FFF!important
}
.res-nightmode #header .tabmenu .selected a::after {
	background: #2f2f2f;
	box-shadow: inset 2px 2px 2px -1px rgba(0,0,0,0.2), 1px 1px 1px #2f2f2f
}
.res-nightmode.res #header {background-color: #445f7e}
.res-nightmode #header-bottom-left {box-shadow: inset 0 -35px #2b4665}
.res-nightmode.res #sr-header-area {background-color: #2b4665}
.res-nightmode .morelink a:hover,
.res-nightmode .morelink a::after {background-color: #2b4665}
.res-nightmode .wiki-page>.content>span {background-color: #445f7e}
.res-nightmode .content .link {border-color: #0f0f0f} /* bulky selector to override weird report res style */
.res-nightmode .link.RES-keyNav-activeThing {background: #373737}
.res-nightmode .submit-page {background: #1f1f1f!important}
.res-nightmode .submit-page>.content,
.res-nightmode .submit-page .content .content {background-color: transparent!important}
.res-nightmode .tabmenu.formtab a {background-color: #2f2f2f}
.res-nightmode .tabmenu.formtab .selected a {background-color: #445f7e!important}
.res-nightmode .submit-page .roundfield {
	background-color: #2f2f2f!important;
	border-color: #0f0f0f
}
.res-nightmode .reddit-infobar.with-icon::before {background-color: #2866a3}
.res-nightmode .side .md *:not(a):not(hr) {background: transparent}
.res-nightmode .nsfw-stamp,.res-nightmode .link .buttons .first::before {
	color: #FFF!important;
	border-color: #FFF
}


/* A wife asks her husband, “Could you please go shopping for me and buy one carton of milk, if they have eggs, get a dozen.”
A short time later, the husband returns with a dozen cartons of milk.
“Why did you buy a dozen cartons of milk?” the wife asks.
He replies, “They had eggs.”

Why is this here?
Well you see, the real joke is always in the comments.*/
