@use "sass:math";

/** Base styles **/

// Reset some margins
body > .content {
	margin: 0;
	padding: $base-spacing 0;
}

// Get rid of unnecessary backgrounds that Reddit applies
body > .content,
.side .titlebox form.toggle,
.side .leavemoderator,
.sidebox,
.sidebox .spacer,
.icon-menu a,
#sr-header-area * {
	background-color: transparent !important;
}

// Generic elements with rounded corners
.infobar,
.rounded,
.reddit-infobar {
	border-radius: $base-border-radius;
}

// Leave space for the sidebar next to infobars at the top of the page
.infobar {
	margin-right: $sidebar-width;
}

// Special infobars have different styles for some reason
.reddit-infobar {
	margin: 0 ($sidebar-width + $base-spacing) $base-spacing $base-spacing;
}

// Make the "Welcome to Reddit" banners full-width
.infobar.welcome,
.infobar.listingsignupbar {
	margin: 0;
	border-radius: 0;
	border-left: 0;
	border-right: 0;
}
.infobar.listingsignupbar {
	margin: 0 !important;
	height: 120px;
	border-top: 1px solid #EFEFEF;
}
.listingsignupbar__container {
	padding: 28px 18px;
}

// Base nightmode text coloring
.res-nightmode {
	.pagename a {
		color: #FFF;
	}

	body,
	body > .content {
		background: #2f2f2f !important;
	}
}

// Add an image as the redditname
//$redditname-original-height: 505px;
//$redditname-original-width: 2450px;
//$redditname-height: 62px;
//$redditname-width: $redditname-original-width * $redditname-height / $redditname-original-height;
//$redditname-top: 18px;
//$redditname-left: 80px;
//
//#header .redditname {
//    position: absolute;
//    display: block;
//    top:$redditname-top;
//    left: $redditname-left;
//    font-size:0;
//    height: $redditname-height;
//    width: $redditname-width;
//}
//
//#header .redditname a {
//    background-image: url("images/redditname.png");
//    background-size: auto $redditname-height;
//    //background-position: 0% 0%;
//    background-repeat: no-repeat;
//    display: block;
//    height: $redditname-height;
//}
//
//.res-nightmode #header .redditname a {background-position: -$redditname-width 0px}


// Style the newsletter banner thingy that shows up sometimes
.infobar.newsletterbar {
	margin: 0 $base-spacing $base-spacing;
	width: calc(100% - 341px);
	border-radius: 5px;
}


// Style the sort controls and stuff at the top of listing pages (e.g. /top)
.listing-page .menuarea {
	border-top: 1px solid #efefef;
	margin: 0 0 -1px;
	padding: $base-spacing;
	background: #f7f7f7;
	border-bottom: 1px solid #efefef
}

// Vote icons
.thing .arrow {
	background: url("images/general.png") 0 0/128px !important;

	&.up {
		background-position: -98px 0 !important;
	}

	&.down {
		background-position: -98px -14px !important;
	}

	&.upmod {
		background-position: -113px 0 !important;
	}

	&.downmod {
		background-position: -113px -14px !important;
	}
}

// Style entries for RES keynav
.link.RES-keyNav-activeThing {
	background: #f0f3fc;
}

// Link body styles
.link,
.organic-listing .link.promotedlink {
	margin: 0;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	padding: 5px 0;
}

.link ~ .link:not(.last-clicked) {
	border-top: 0;
}

// Give the last clicked link a dotted border
.link.last-clicked {
	border-left: 0;
	border-right: 0;
}

.link ~ .link.last-clicked {
	margin-top: -1px;
}

// Give the thumbnail some space
.link .thumbnail {
	margin: 0 $base-spacing 0 0;
	min-width: 70px
}

.link .entry {
	margin: 0;
	padding: 0
}

.link .expando {
    margin-right: $base-spacing;
}

// Title colors
.link a.title {
	color: #333;

	&:hover {
		color: #567;
	}
}

// Visited title colors
.link .title:visited,
.link.visited a.title {
	color: #888;

	&:hover {
		color: #A0A8AF;
	}
}

// Put a box around text post bodies
.link .usertext-body .md {
	background: #f7f7f7;
	border-color: #cfcfcf
}

// Video previews pinned to top of page - v.redd.it
.pinnable-content.pinned {
	background: #FFF !important;
	border-bottom: 1px solid #CFCFCF;
}
.pinned .thing {
	border: 0;
}
.pinned .thumbnail {
	@extend %margin-zero;
}

.organic-listing {
	margin: 0;
	border: 0;
	border-top: 1px solid #cfcfcf;
}

.organic-listing .help {
	margin: 5px;
}

body > .content .spacer {
	@extend %margin-zero;
}

.organic-listing .sponsored-tagline {
	margin: 5px 0;
}

.promotedlink .thumbnail {
	border-radius: 5px;
}

// Style the gold "highlight comments since last visit" options box
.gold-accent.comment-visits-box {
	display: block;
}

// Style comment section
.commentarea {
	padding: 0 5px;

	> .sitetable {
		padding: 0 5px;
	}
}

// Style individual comments
.comment {
	position: relative;
	margin: 0;
	padding-left: 25px;
	overflow: hidden;

	.child {
		border: 0;
		margin: 0;
	}

	.midcol {
		margin: 0;
		padding: 0;
		box-sizing: content-box;
	}

	.entry {
		margin: 0 0 $base-spacing;
		padding: 0 $base-spacing;

		.tagline {
			display: block;
		}
		.md {
			margin: 0;
			padding: 5px 0;
		}
	}

	// Fancy collapse/expand buttons that go down the side
	.expand {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 15px;
		font-size: 0;
		color: #B7B7B7;

		&:hover {
			color: $primary-color;
		}

		// Make the line running down the side
		&::before {
		    content: "";
		    position: absolute;
		    top: 17px;
		    bottom: $base-spacing;
		    left: 7px;
		    border-left: 1px dotted currentcolor;
		}

		// Make the +/- bracketed indicator
		&::after {
		    content: "[–]";
		    font-size: 10px;
		    position: absolute;
		    width: 19px;
		    height: 15px;
		    top: 0;
		    left: -2px;
		    text-align: center;
		    line-height: 15px;
		}
	}

	// Collapsed comments take up less space
	&.collapsed {
		padding: 0;

		.expand {
			bottom: 20px;

			&::after {
				content: "[+]";
			}
		}
	}
}

// Fix RES expando images overflowing under the sidebar in comments
.res-image img {
	max-width: 100% !important;
}

// Fix the above sometimes causing images to shrink to 1x1px when rotated through RES media tools
.res-media-with-controls-wrapper {
	width: auto !important;
	height: auto !important;
}

// Style comment boxes for RES's alternate comment styling feature
.res.res-commentBoxes .comment {
    padding: 5px 5px 5px 25px !important;
    margin-left: 0 !important;
}

.res.res-commentBoxes .comment.collapsed .entry {
	@extend %margin-zero;
}

.res.res-commentBoxes .comment .expand {
    top: 0;
    left: 0;
    width: 20px;
    cursor: pointer;
}

.res.res-commentBoxes .comment.collapsed .expand {
	bottom: 0;
}

.res.res-commentBoxes .comment .expand::after {
    top: 4px;
    left: 3px;
}

.res.res-commentBoxes .comment .expand::before {
    top: -5px;
    bottom: 0;
    left: 0;
    border-width: 0;
}

.res.res-commentBoxes .comment .expand:hover::before {
    border-left-width: 1px;
}

// Style RES never-ending reddit page markers and loading bars
body .NERPageMarker,
body #progressIndicator {
	background: #F7F7F7;
	margin: 0;
	padding: 5px;
	border-radius: 0;
	border: 0;
}

body .NERPageMarker:before,body .NERPageMarker:after {
	content: " — ";
	opacity: .5;
}

body .NERPageMarker .gearIcon {
	position: relative;
	bottom: 2px;
	margin-right: 2px;
}

body #progressIndicator {
	padding: $base-spacing;
	border-bottom: 1px solid #EFEFEF;
}

#progressIndicator:hover {
	background: #EFEFEF;
}

.res-nightmode #progressIndicator,
.res-nightmode.listing-page .menuarea {
    background: #252525 !important;
    border-color: #000 !important;
}

// Submit page styling

.submit-page > .content {
	margin: 0 auto;
	padding-right: 321px;
	width: 520px
}

.submit-page .content > h1 {
	margin: 10px 0 20px;
	text-align: center
}

#newlink {
	@extend %margin-zero;
}

.submit-page .formtabs-content {
	border: 0;
	display: flex;
	flex-direction: column
}

.submit-page .formtabs-content .spacer:nth-last-child(3) {order: -1}
#text-field .title:before {
	content: "*";
	color: red;
}

// Replace text post submission description
#text-desc {
	@extend %font-size-zero;
}

#text-desc::after {
	content: 'You are submitting a text-based post. Speak your mind. A title and a text body are both required. Beginning your title with "vote up if" is violation of intergalactic law.';
	font-size: small;
}

#text-field .roundfield-description {
	@extend %display-none;
}

.submit-page ul.formtab {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.submit-page ul.formtab li {
	display: block;
	flex: 0 1 calc(50% - 5px);
}

.submit-page ul.formtab a,.submit-page ul.formtab .selected a {
	display: block;
	text-align: center;
	font-size: 18px;
	line-height: 35px;
	text-transform: capitalize;
	border: 0;
	background: #6a9de6;
	color: #FFF;
	border-radius: 5px;
	position: relative;
	top: 0;
	transition: 200ms;
	z-index: 1;
}

.submit-page ul.formtab .selected a {
	top: -2px;
	box-shadow: 0 5px 10px $primary-secondary-shadow;
	font-size: 18px;
}

.submit-page .roundfield {
	width: 498px;
	border: 1px solid #BBB;
	background: #f7f7f7;
	margin-bottom: $base-spacing;
}

.submit-page .formtabs-content .infobar {
	margin-bottom: $base-spacing;
}

.submit-page .roundfield.info-notice {
	padding: $base-spacing;
}

.submit-page .roundfield textarea,
.submit-page .roundfield input:not([type=checkbox]):not([type=radio]),
.submit-page .roundfield .usertext-edit {
	width: calc(100% - 8px) !important;
}

.submit_text.enabled {
	display: block;
}

.c-form-group:empty {
	margin-bottom: 0;
}

// Reorder submit page entries
.spacer:nth-child(1) {
	order: 1;
}

.spacer:nth-child(2) {
	order: 4;
}

.spacer:nth-child(3) {
	order: 6;
}

.spacer:nth-child(4) {
	order: 2;
}

.spacer:nth-child(5) {
	order: 6;
}

.spacer:nth-child(6) {
	order: 7;
}

#newlink-with-image-upload {
	order: 3;
}

// Wiki styling

.sheets {
	margin-right: 321px;
}

.wiki-page .wiki-page-content {
	margin: 25px 356px 0 35px;
}

.wiki-page > .content {
	margin-top: 0;
}

.wiki-page > .content > span {
	display: block;
	margin: 0 $sidebar-width + $base-spacing $base-spacing $base-spacing;
	padding: 0 $base-spacing;
	background: #6a9de6;
	color: #FFF;
	border-radius: 5px;
	position: relative;
}

.wiki-page .wikititle {
	margin: 0;
	font: inherit;
	font-size: large;
	line-height: 35px;
	color: inherit;
}

.wiki-page .pageactions {
	float: right;
	border: 0;
	margin: 0;
}

.wiki-page .pageactions .wikiaction,
.wiki-page .pageactions .wikiaction-current {
	margin: 0;
	border-radius: 0;
	line-height: 35px;
	padding: 0 $base-spacing;
	color: #FFF;
	text-transform: capitalize;
	background: transparent !important;
}

.wiki-page .pageactions .wikiaction-current {
	background-color: rgba(0,0,0,0.15) !important;
}

.wiki-page .pageactions .wikiaction:hover {
	text-decoration: underline;
}
.wiki-page .md.wiki > * {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
}

.md.wiki .toc + * {
	margin-top: 0;
}

.wiki-page .wiki-page-content .wiki > .toc > ul {
	border-color: #cfcfcf;
	border-radius: 5px;
	padding: 10px 15px;
}

.wiki-page .wiki-page-content .wiki > .toc > ul li {
	line-height: 1;
	margin: 5px 0;
}

.wiki-page .wiki-page-content .wiki > .toc > ul ul {
	border-left: 1px dotted #cfcfcf;
	padding: 0 15px;
	margin: 0;
}

.res-nightmode .wiki-page .wiki-page-content .wiki > .toc > ul {
	border-color: #000;
}

.res-nightmode .wiki-page .wiki-page-content .wiki > .toc > ul ul {
	border-color: #8cb3d9;
}

// Wiki edit diffs
.diff th, .diff td {
	padding: 0 5px;
	line-height: 18px;
}

.diff tbody tr:nth-child(even) {
	background: rgba(0.5,0.5,0.5,0.03);
}

// Gemeral markdown
.md h1 {
	font-size: 2.15em;
	margin: 1rem 0;
	font-weight: inherit;
}

.md h2 {
	font-size: 1.5em;
	margin: 1rem 0;
	font-weight: bold;
}

.md hr {
	margin: 1em 0;
	height: $base-border-width;
	background-color: $separator-color;

	@include nightmode {
		background-color: #000 !important;
	}
}

.md p {
	margin: .5em 0;
}

.md blockquote {
	border-color: #cfcfcf;
}

// Link styles
.md a,
.tagline a {
	color: $link-color;

	&:hover {
		color: $link-hover-color;
		text-decoration: underline;

		@include nightmode {
			color: #B8D0E8;
		}
	}
}

// Misc. nightmode styles
// TODO: move all these to the elements they style and use `@include nightmode`

.res-nightmode .side .redditname,
.res-nightmode .sidecontentbox .title,
.res-nightmode .side .md-container .md h1,
.res-nightmode .sidecontentbox .content {
	background-color: $primary-color-nightmode !important;
}

.res-nightmode .wiki-page .pageactions .wikiaction-current {background: $secondary-color-nightmode!important}
.res-nightmode .morelink a {
	background: $primary-color-nightmode;
	color: #FFF !important;
}

.res-nightmode .wiki-page > .content > span {
	background-color: $primary-color-nightmode;
}

.res-nightmode .content .link { // bulky selector to override weird report res style
	border-color: #0F0F0F;
}

.res-nightmode .link.RES-keyNav-activeThing {
	background: #373737;
}

.res-nightmode .submit-page {
	background: #1f1f1f !important;
}

.res-nightmode .submit-page>.content,
.res-nightmode .submit-page .content .content {
	background-color: transparent !important;
}

.res-nightmode .tabmenu.formtab a {
	background-color: #2f2f2f;
}

.res-nightmode .tabmenu.formtab .selected a {
	background-color: $primary-color-nightmode !important;
}

.res-nightmode .submit-page .roundfield {
	background-color: #2f2f2f !important;
	border-color: #0f0f0f
}

.res-nightmode .reddit-infobar.with-icon::before {
	background-color: #2866a3;
}

.res-nightmode .side .md *:not(a):not(hr) {
	background: transparent;
}

.res-nightmode .nsfw-stamp,
.res-nightmode .link .buttons .first::before {
	color: #FFF !important;
	border-color: #FFF;
}


/* A wife asks her husband, “Could you please go shopping for me and buy one carton of milk, if they have eggs, get a dozen.”
A short time later, the husband returns with a dozen cartons of milk.
“Why did you buy a dozen cartons of milk?” the wife asks.
He replies, “They had eggs.”

Why is this here?
Well you see, the real joke is always in the comments.*/
