/** Post flairs **/
.linkflairlabel {
	vertical-align: middle;
	border: none;
	font-size: 12px;
	text-align: center;
	padding: 2px 6px;
	position: relative;
	top: -2px;
	margin-top: 1px;
	border-radius: 5px;
	height: 16px;
	line-height: 16px;
	color: #FFF !important; // !important for nightmode
}

// Colors pulled from redesign, !important for nightmode
.linkflair-discussion     .linkflairlabel {background: #7193FF !important}
.linkflair-rewatch        .linkflairlabel {background: #0079D3 !important}
.linkflair-official-media .linkflairlabel {background: #0AA18F !important}
.linkflair-news           .linkflairlabel {background: #FF4500 !important}
.linkflair-video          .linkflairlabel {background: #CC3600 !important}
.linkflair-video-edit     .linkflairlabel {background: #800080 !important}
.linkflair-fanart         .linkflairlabel {background: #73AD34 !important}
.linkflair-fanart-oc      .linkflairlabel {background: #94e044 !important}
.linkflair-fanart-misc    .linkflairlabel {background: #349e48 !important}
.linkflair-infographic    .linkflairlabel {background: #349e48 !important}
.linkflair-cosplay        .linkflairlabel {background: #CC5289 !important}
.linkflair-wt             .linkflairlabel {background: #CCAC2B !important}
.linkflair-writing        .linkflairlabel {background: #DDBD37 !important}
.linkflair-clip           .linkflairlabel {background: #9d76b8 !important}
.linkflair-satire         .linkflairlabel {background: #6B6031 !important}
.linkflair-question       .linkflairlabel {background: #9E8D49 !important}
.linkflair-contest        .linkflairlabel {background: #007373 !important}
.linkflair-misc           .linkflairlabel {background: #646D73 !important}
.linkflair-writing-club   .linkflairlabel {background: #E55A76 !important}
.linkflair-episode        .linkflairlabel {background: #005BA1 !important}
.linkflair-weekly         .linkflairlabel {background: #FF56CC !important}
.linkflair-recommendation .linkflairlabel {background: #373C3F !important}
.linkflair-meme           .linkflairlabel {background: #EDEFF1 !important; color: #000 !important;}
.linkflair-merch          .linkflairlabel {background: #BBBDBF !important; color: #000 !important;}

/* "Misleading" flair - meant to be edited to make corrections to titles */
.linkflair-misleading .linkflairlabel {
	color: #e02424 !important;
	font-weight: 900;
	background: white!important;
	max-width: none;
	box-shadow: inset 0 0 0 1px currentcolor;
}

// Announcement flairs

// Hide flair labels
.linkflair-green .linkflairlabel,
.linkflair-blue .linkflairlabel,
.linkflair-red .linkflairlabel,
.linkflair-palered .linkflairlabel {
	@extend %display-none;
}

// Adjust title styling to support giving the whole thing a
.linkflair-green a.title,
.linkflair-blue a.title,
.linkflair-red a.title,
.linkflair-palered a.title {
	display: inline-block;
	padding: 2px 5px;
	border-radius: 5px;
	border: 1px solid;
	color: white !important; // !important to override spoiler text color
}

// Color styles
.linkflair-green a.title {
	background: #46b141;
	border-color: #090;
	&:hover {background: #090}
}

.linkflair-blue a.title {
	background: #6a9de6;
	border-color: #557eb8;
	&:hover {background: #557eb8}
}

.linkflair-red a.title {
	background: #de3954;
	border-color: #ce223e;
	&:hover {background: #ce223e}
}

.linkflair-palered a.title {
	background: #e97b8d;
	border-color: #e35970;
	&:hover {background: #e35970}
}

// Gold Award backgrounds for old.reddit
div#thing_t3_swknu8,
div#thing_t3_swql95 {
	background: #ffeb80;
}
.res-nightmode div#thing_t3_swknu8,
.res-nightmode div#thing_t3_swql95 {
	background:black;
}

// Add text to the title for AMA flairs
.linkflair-palered a.title:before {
	content: "[Finished] ";
}

.linkflair-ongoing a.title:before {
	content: "[Ongoing] ";
}
