/** Post flairs **/
.linkflairlabel {
	vertical-align: middle;
	font-size: 12px;
	text-align: center;
	padding: 2px 6px;
	position: relative;
	top: -2px;
	margin-top: 1px;
	border-radius: 5px;
	height: 16px;
	line-height: 16px;
	color: #FFF !important; // !important for nightmode
	min-width: 95px;
}

/* "Misleading" flair - meant to be edited to make corrections to titles */
.linkflair-misleading .linkflairlabel {
	color: #e02424 !important;
	font-weight: 900;
	background: white!important;
	max-width: none;
	box-shadow: inset 0 0 0 1px currentcolor;
}

// Announcement flairs

// Hide flair labels
.linkflair-green .linkflairlabel,
.linkflair-blue .linkflairlabel,
.linkflair-red .linkflairlabel,
.linkflair-palered .linkflairlabel {
	@extend %display-none;
}

// Adjust title styling to support giving the whole thing a
.linkflair-green a.title,
.linkflair-blue a.title,
.linkflair-red a.title,
.linkflair-palered a.title {
	display: inline-block;
	padding: 2px 5px;
	border-radius: 5px;
	border: 1px solid;
	color: white !important; // !important to override spoiler text color
}

// Color styles
.linkflair-green a.title {
	background: #46b141;
	border-color: #090;
	&:hover {background: #090}
}

.linkflair-blue a.title {
	background: #6a9de6;
	border-color: #557eb8;
	&:hover {background: #557eb8}
}

.linkflair-red a.title {
	background: #de3954;
	border-color: #ce223e;
	&:hover {background: #ce223e}
}

.linkflair-palered a.title {
	background: #e97b8d;
	border-color: #e35970;
	&:hover {background: #e35970}
}

// Gold Award backgrounds for old.reddit
div#thing_t3_swknu8,
div#thing_t3_swql95 {
	background: #ffeb80;
}
.res-nightmode div#thing_t3_swknu8,
.res-nightmode div#thing_t3_swql95 {
	background:black;
}

// Add text to the title for AMA flairs
.linkflair-palered a.title:before {
	content: "[Finished] ";
}

.linkflair-ongoing a.title:before {
	content: "[Ongoing] ";
}
