.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22meta"] {
    background-color: #1f8b4c
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22discussion"] {
    background-color: #1f8b4c
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22ask"] {
    background-color: #1f8b4c
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22ama"] {
    background-color: #1f8b4c
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22event"] {
    background-color: #1f8b4c
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22politics"] {
    background-color: #112c5f
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22economy"] {
    background-color: #112c5f
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22technology"] {
    background-color: #112c5f
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22sports"] {
    background-color: #112c5f
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22news"] {
    background-color: #112c5f
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22video"] {
    background-color: #f7d117
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22photo"] {
    background-color: #f7d117
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22arts"] {
    background-color: #f7d117
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22travel"] {
    background-color: #f7d117
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22food"] {
    background-color: #f7d117
}

.entry>.title>.linkflairlabel.linkflair-image,
.flairselector .linkflair-image .linkflairlabel,
.linkflair-image .title .linkflairlabel,
.side .md blockquote p a[href*="%22humor"] {
    background-color: #f7d117
}

.linkflairlabel {
    padding: 1px 6px;
    height: 18px;
    border-radius: 1px;
    border: 0 solid;
    color: #fff;
    font: normal normal 14px Calibri, Arial, sans-serif;
    cursor: default;
    vertical-align: middle;
    position: relative;
    top: 0;
    background: #738491
}

.linkflair-mod .linkflairlabel {
    background: #1f8b4c;
    color: #fff
}

.linkflair-red .linkflairlabel {
    background-color: #fe4a49
}

.linkflair-green .linkflairlabel {
    background-color: #1f8b4c
}

.linkflair-blue .linkflairlabel {
    background-color: #112c5f
}

.linkflair-purple .linkflairlabel {
    background-color: #f7d117
}

.linkflair-yellow .linkflairlabel {
    background-color: #f1c40f
}

.linkflair-navy .linkflairlabel {
    background-color: #034c3c
}

.linkflair-gray .linkflairlabel {
    background-color: #797d81
}

.linkflair-brown .linkflairlabel {
    background-color: #9e643c
}

.linkflair-ruby .linkflairlabel {
    background-color: #aa4465
}

.linkflair-orange .linkflairlabel {
    background-color: #e74c3c
}

.linkflair-pink .linkflairlabel {
    background-color: #d84797
}

.linkflair-black .linkflairlabel {
    background-color: #001011
}

.linkflair-violet .linkflairlabel {
    background-color: #8a89c0
}
