// Spoiler tags
a[href="/s"],
a[href*="reddit.com/s?"] {
	color: #fff!important;
	background: #000;
	padding: 1px 0 1px 3px;
	cursor: text;
	border-radius: 2px;
}
a[href="/s"]:hover,
a[href*="reddit.com/s?"]:hover {
	color: #f44!important;
	text-decoration: none;
}
a[href="/s"]::after,
a[href*="reddit.com/s?"]::after {
	content: attr(title);
	background: inherit;
	color: #000;
	padding: 0 10px;
}
a[href="/s"]:hover::after,
a[href="/s"]:active::after,
a[href*="reddit.com/s?"]:hover::after,
a[href*="reddit.com/s?"]:active::after {color: #FFF}
/* QoL for mobile desktop users */
a[href="/s"]:active,
a[href*="reddit.com/s?"]:active {
    pointer-events: none;
}
