// Contains sidebar styles, including sidebar-specific markdown styles

// This is sidebar image stuffs
#search {
	margin-bottom: 270px;
}

.side .md [href*='#sidebarimg'] {
	position: absolute;
	top: 170px;
	right: 10px;
	width: 300px;
	height: 250px;
	border-radius: 5px;
	background: url(%%sidebar%%) center/contain;
}
