// Sidebar images
// TODO: lots of hardcoding, don't we have variables for some of this stuff?
//       also can 100% rewrite this to accept an arbitrary number of images

// Leave appropriate room at the top of the sidebar for the
// image + the absolutely-positioned search bar
.side {
	padding-top:
		$sidebar-section-margin-vertical +
		$sidebar-search-height +
		$sidebar-section-margin-vertical +
		$sidebar-image-height +
		$sidebar-section-margin-vertical +
		$sidebar-image-other-height;
}
// Search bar isn't there on search pages, it's moved to #content. Also, on
// search pages, the submit buttons are the first `.spacer`s which means they
// don't have the normal top margin, which means we need to add that back.
.search-page .side {
	padding-top:
		$sidebar-section-margin-vertical +
		$sidebar-image-height +
		$sidebar-section-margin-vertical +
		$sidebar-image-other-height +
		$sidebar-section-margin-vertical;
}

// Position the first image and also set some stuff for both images
.side [href*='#sidebarimg'] {
	position: absolute;
	top: $header-height + $sidebar-section-margin-vertical + $sidebar-search-height + $sidebar-section-margin-vertical;
	right: $sidebar-padding;
	width: 300px;
	height: $sidebar-image-height;
	border-radius: $sidebar-section-border-radius;
	background: url("images/sidebar.png") center/contain;
	
	// Again, search bar isn't there on search pages
	.search-page & {
		top: $header-height + $sidebar-section-margin-vertical;
	}
}

// Position the second image
.side [href*="#sidebarimg2"] {
	top: $header-height +
		$sidebar-padding +
		$sidebar-search-height +
		$sidebar-section-margin-vertical +
		$sidebar-image-height +
		$sidebar-section-margin-vertical;
	height: $sidebar-image-other-height;
	background-image: url("images/sidebar2.png");
	background-size: cover;
	//rotating sidebar - wouldn't go under 40 seconds since it gets annoying to look at
        -webkit-animation: sidb 50s linear infinite;
        animation: sidb 50s steps(3, end) infinite;
	
	// you get the idea
	.search-page & {
		top: $header-height +
			$sidebar-section-margin-vertical +
			$sidebar-image-height +
			$sidebar-section-margin-vertical;
	}
}

// Move the search bar above the images
.side #search {
	position: absolute;
	top: $header-height + $sidebar-section-margin-vertical;
}

//rotating sidebar
@-webkit-keyframes sidb {
    from { background-position: 0 0px; }
    to { background-position: -900px 0px;}
}
@keyframes sidb {
    from { background-position: 0 0px; }
    to { background-position: -900px 0px;}
}
