$sidebar-image-height: 83px;
$sidebar-image-other-height: 300px;

// Align the search icon better with our search style
#search input[type="submit"] {
	margin-left: -25px
}

// Border radius for the Reddit premium banner - we can't remove it, but we can make it look good
.premium-banner::before {
	border-radius: 3px;
}
.premium-banner-outer {
	border-radius: 5px;
}

// Markdown headings
.side .md h1 {
	background: #6a9de6;
	margin: 10px -11px;
	color: #FFF;
	font-size: 1.5em;
	font-weight: bold
}

// Fullwidth tables
// TODO this doesn't really work...
.side .md table {
	width: calc(100% + 20px);
	margin: 10px -10px;
	table-layout: fixed;
}
.side .md td,
.side .md th {
	border-color: #CFCFCF;
	border-left: 0;
}
.side .md tr :last-child {
	border-right: 0;
}

// Tables right after headings bump up against the heading
.side .md h1 + table {
	margin-top: -10px;
}
.side .md h1 + table th {
	border-top: 0;
}

// Table column widths
.side table:first-of-type th:nth-child(2),
.side table:nth-of-type(2) th:last-child {
  width: 40px;
}
.side table:first-of-type th:last-child {
  width: 70px;
}

// Sidebar images
.side [href*='#sidebarimg'] {
	position: absolute;
	top: 170px;
	right: 10px;
	width: 300px;
	height: $sidebar-image-height;
	border-radius: 5px;
	background: url("images/sidebar.png") center/contain;
}
.side [href*="#sidebarimg2"] {
	top: 170px + 10px + $sidebar-image-height;
	height: $sidebar-image-other-height;
	background-image: url("images/sidebar2.png");
}

// Leave room at the top of the sidebar for the image
#search {
	margin-bottom: 10px + $sidebar-image-height + 10px + $sidebar-image-other-height + 10px;
}

//Discord and Twitter Buttons
.side [href*="discord.gg"], .side [href*="https://twitter.com"] {
	display: block;
	color: #FFF;
	padding-right: 9px;
	font-weight: bold;
	line-height: 20px;
	background: #7289DA;
	position: relative;
	top: 0;
	line-height: 18px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 200ms;
}
.side [href*="discord.gg"]:hover, .side [href*="https://twitter.com"]:hover {
	color: #FFF;
	background: #557eb8;
	top: -2px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.side [href*="discord.gg"]:before, .side [href*="https://twitter.com"]:before {
	content: "";
	width: 47px;
	height: 44px;
	display: block;
	background:  url("images/general.png")  0 -128px/128px no-repeat;
}
.side [href*="discord.gg"] em, .side [href*="https://twitter.com"] em {
	display: block;
	font-weight: normal;
	opacity: 0.8;
}
.side [href*="discord.gg"]:hover em,.side [href*="https://twitter.com"]:hover em {
	text-decoration: underline;
}


/*twitter styling */
.side [href*="https://twitter.com"] {
    padding: 0px 0px 0px 10px;
    background: #1DA1F2;
}

.side [href*="https://twitter.com"]:before {
	width: 41px;
	background:  url("images/general.png")  -50px -128px/128px no-repeat;
}

.side [href*="https://twitter.com"]:hover {
	background: #198bd1;
}
 


