@use "sass:map";
@use "util/vars";

// Sidebar images

/*
$sidebar-images: (
	// Map keys are identifiers used at the end of links in the sidebar markdown
	// e.g. this image would use the markdown [](https://example.com#some_img)
	"some_img": (
		// The height of the image, in CSS pixels - all images are 300 CSS
		// pixels wide. Actual image file dimensions should be doubled for HiDPI
		// support, i.e. 600px wide and (2x this value) tall
		"height": 300px,
	    // Path to the image - this path is relative to the repo root.
		"image": "images/sidebar.png",
	),

	// ... etc for more images
);
*/

$sidebar-images: (
	"sidebarimg": (
		"height": 300px,
		"image": "images/sidebar.png",
	),
	"sidebarimg2": (
		"height": 300px,
		"image": "images/sidebar2.png",
	),
	"sidebarimg3": (
		"height": 200px,
		"image": "images/sidebar3.png",
	),
);

// The distance from the top of the page sidebar images need to be positioned -
// this accounts for the height of the header as well as the height of the
// search box and additional margins
$sidebar-content-top:
	vars.$header-height
	+ vars.$sidebar-section-margin-vertical;

// On most pages, the search bar is displayed above the images, so we need to
// move them down further to accomodate
$sidebar-content-top-with-search:
	vars.$sidebar-search-height
	+ vars.$sidebar-section-margin-vertical
	+ $sidebar-content-top;

// Move the search bar to the very top of the sidebar, if it's here
.side #search {
	position: absolute;
	top: $sidebar-content-top;
}

// Total padding left at the top of the sidebar to make room for the absolutely
// positioned sidebar images - the extra height of each image is added each
// iteration
$images-height-cumulative: 0px;

// Iterate over all images and position them progressively
@each $anchor, $details in $sidebar-images {
	// The height of this image
	$height: map.get($details, "height");
	// The source of this image
	$image: map.get($details, "image");

	// Render this image in the correct location
	.side [href*="##{$anchor}"] {
		position: absolute;
		top: $sidebar-content-top-with-search + $images-height-cumulative;
		right: vars.$sidebar-padding;
		width: 300px;
		height: $height;
		border-radius: vars.$sidebar-section-border-radius;
		background: i($image, $width: 600) center/contain;

		// Again, search bar isn't there on search pages
		.search-page & {
			top: $sidebar-content-top + $images-height-cumulative;
		}
	}

	// Add this image to the cumulative height
	$images-height-cumulative:
		$images-height-cumulative + $height + vars.$sidebar-section-margin-vertical;
}

// Leave appropriate room at the top of the sidebar for all the
// absolutely-positioned images + the search bar
.side {
	padding-top:
		vars.$sidebar-section-margin-vertical
		+ vars.$sidebar-search-height
		+ $images-height-cumulative;

	// no sidebar search bar on search pages - move up
	.search-page & {
		padding-top:
			$images-height-cumulative;
	}
}

// old and unused - previously used for a carousel effect with two images
// @keyframes sidb {
// 	from { background-position: 0 0px; }
// 	to { background-position: -600px 0px;}
// }
