// Set both to 300px with 2 images, set $sidebar-image-other-height to 0 with only 1
$sidebar-image-height: 300px; 
$sidebar-image-other-height: 300px; 

// Align the search icon better with our search style
.side #search input[type="submit"] {
	margin-left: -25px
}

// Border radius for the Reddit premium banner - we can't remove it, but we can make it look good
@if $sidebar-section-border-radius > 0 {
	.premium-banner-outer {
		border-radius: $sidebar-section-border-radius;
	}
	.premium-banner::before {
		border-radius: max($sidebar-section-border-radius - 2px, 1px);
	}
}

// If an ad doesn't load, get rid of the big gap it leaves behind
.ad-container:empty {
	@extend %display-none;
}

// Markdown headings
.side .md h1 {
	background: $sidebar-section-header-background-color;
	margin: $sidebar-section-header-margin-vertical (-$sidebar-section-padding - $sidebar-section-border-width);
	color: $text-on-primary-color;
	font-size: 1.5em;
	font-weight: bold
}

// Tables take up the full width of the sidebar
.side .md table {
	margin: 0 (-$sidebar-padding - $sidebar-border-width);
	width: calc(100% - #{-2 * ($sidebar-padding + $sidebar-border-width)});
}
.side th,
.side td {
	border-color: $sidebar-border-color;
}

// Tables and headings have no margin, and table borders next to headings are hidden
.side .md h1 + table {
	margin-top: -$sidebar-section-header-margin-vertical;
	th {
		  border-top: 0;
	}
}
.side .md table + h1 {
	margin-top: -$sidebar-border-width;
}

// Discord and Twitter buttons
.side .titlebox [href*="discord.gg/r-anime"], .side [href*="twitter.com/RedditChan"] {
	display: block;
	color: #FFF;
	padding-right: 9px;
	font-weight: bold;
	line-height: 20px;
	background: #7289DA;
	position: relative;
	top: 0;
	line-height: 18px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 200ms;
}
.side .titlebox [href*="discord.gg/r-anime"]:hover, .side [href*="twitter.com/RedditChan"]:hover {
	color: #FFF;
	background: #557eb8;
	top: -2px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.side .titlebox [href*="discord.gg/r-anime"]:before, .side [href*="twitter.com/RedditChan"]:before {
	content: "";
	width: 47px;
	height: 44px;
	display: block;
	background: url("images/general.png") 0 -128px/128px no-repeat;
}
.side .titlebox [href*="discord.gg/r-anime"] em, .side [href*="twitter.com/RedditChan"] em {
	display: block;
	font-weight: normal;
	opacity: 0.8;
}
.side .titlebox [href*="discord.gg/r-anime"]:hover em, .side [href*="twitter.com/RedditChan"]:hover em {
	text-decoration: underline;
}


// Twitter-specific styling, overrides some of the above
.side .titlebox [href*="twitter.com/RedditChan"] {
    padding: 0px 0px 0px 10px;
    background: #1DA1F2;
}

.side .titlebox [href*="twitter.com/RedditChan"]:before {
	width: 41px;
	background:  url("images/general.png")  -50px -128px/128px no-repeat;
}

.side .titlebox [href*="twitter.com/RedditChan"]:hover {
	background: #198bd1;
}

// Hide sub author from community info section
.titlebox .bottom,
.titlebox .bottom .author::after {
	@extend %font-size-zero;
}
.titlebox .bottom .flair {
	@extend %display-none;
}
.titlebox .bottom .age {
	font-size: x-small;
}

// Hide "create a subreddit" button
.sidebox.create {
	@extend %display-none;
}
