$flair-icon-size: 16px;
$flair-icon-size-hover: 32px;

// Styles for all user flairs
.flair {
	background-color: #f7f7f7 !important;
	color: #3e5267 !important;
	border: 0;
	border-radius: 2px;
	cursor: default;

	// Matching RES, this is necessary because RES nightmode doesn't use !important unless there's a template being
	// used which sets background-color on the element (rule is .res-nightmode .flairrichtext[style*="color"]).
	.res-nightmode & {
		background-color: #404040 !important;
		color: #c8c8c8 !important;
	}
}

// Flairs with emojis in them expand on hover
.flairrichtext {
	// Extra layout stuff
	display: inline-flex;
	align-items: flex-start;
	padding: 0;
	height: auto;

	// Text in the flair starts out hidden
	font-size: 0 !important;

	// Avoid other text on the page being rendered on top of expanded flairs
	position: relative;

	// 200ms smooth transition from normal to hover and back. When going from
	// hovered back to normal, delay for 350ms in case the user was trying to
	// select the flair text and their mouse briefly left the flair area
	// accidentally.
	transition: 200ms 350ms;

	// All elements of the flair inherit the same transition properties
	* {
		transition: inherit;
	}

	// Manually set icon sizes for nice scaling
	.flairemoji {
		width: $flair-icon-size;
		height: $flair-icon-size;
	}

	// Expand the flair on hover
	&:hover {
		font-size: x-small !important;
		line-height: $flair-icon-size-hover;
		// Keep rest of page from moving due to flair size increase.
		margin-bottom: $flair-icon-size - $flair-icon-size-hover !important;

		// No delay when going from normal to hover, open the flair immediately
		transition-delay: 0ms;

		// Icons get bigger
		.flairemoji {
			width: $flair-icon-size-hover;
			height: $flair-icon-size-hover;
		}

		// Give some margin to the text component of the flair for readability
		// (this is here because we don't include spaces between emojis and text
		// to save characters)
		> :not([class]) {
			margin: 0 5px;
		}
	}
}
