// Base styles for all usernames
.author {
	// For better compatibility with RES user highlights
	display: inline-block;
	// Reset margin for list flairs
	margin-right: 0;
}

// Custom colors for user roles
a.author.submitter {
	color: #064dc0;
}
a.author.moderator {
	color: #5dab00;
}

// When a user has a CSS title, the title inherits the submitter/moderator
// colors when appropriate
.author.moderator::before,
.author.moderator::after,
.author.submitter::before,
.author.submitter::after {
	color: inherit;
}

// We may set font-size: 0 from a user title, but we *always* want the ::before
// and ::after to show up, since they're often used to replace the username. The
// sizes used here is pulled from Reddit code.
.author::before,
.author::after {
	font-size: small;
	
	// Ceratin places have usernames displayed smaller, so we adapt
	.tagline &,
	.bottom &,
	.parent & {
		font-size: x-small;
	}
}
