// User list flairs
.flair {
	height: 16px;
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	padding: 0 0 0 16px;
	background-color: #f7f7f7 !important;
	border: 0;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px currentcolor;
	font-size: 0 !important;
	color: #3e5267 !important;
	cursor: default;
	transition: 200ms 350ms;
	overflow: visible !important;
}

// List service icons
.flair:before {
	content: "";
	width: 16px;
	height: 16px;
	background: url("images/general.png") 0 0/128px;
	border-radius: inherit;
	margin-left: -16px;
	transition: inherit;
}

// Expand the flair on hover
.flair:hover {
	width: auto;
	padding-right: 4px;
	font-size: x-small !important;
	transition-delay: 0s
}
.flair:hover:before {
	margin-right: 4px;
}

// List services
.flair-MAL::before {background-position: 0 0}
.flair-HB::before {background-position: 0 -16px}
.flair-ANI::before {background-position: 0 -32px}
.flair-AP::before {background-position: 0 -48px}
.flair-ann::before {background-position: 0 -64px}
.flair-anidb::before {background-position: 0 -80px}
.flair-custom::before {background-position: 0 -96px}

// Verification/service logo styles
.flair-v-crunchy {border-color: #F78B24}
.flair-v-crunchy::before {background-position: -16px 0}
.flair-v-crunchy::after {content: " - Crunchyroll (Verified)"; color: #F78B24}
.flair-v-funi {border-color: #41009C}
.flair-v-funi::before {background-position: -16px -16px}
.flair-v-funi::after {content: " - Funimation (Verified)"; color: #41009C}
.flair-v-kitsu {border-color: #F65239}
.flair-v-kitsu::after {content: " - Kitsu (Verified)"; color: #F65239}
.flair-v-rightstuf {border-color: #EE314C}
.flair-v-rightstuf::before {background-position: -16px -32px}
.flair-v-rightstuf::after {content: " - Right Stuf (Verified)"; color: #EE314C}
.flair-v-otaquest {border-color: #000}
.flair-v-otaquest::before {background-position: -16px -48px}
.flair-v-otaquest::after {content: " - OTAQUEST (Verified)"; color: #000}
.flair-v-gkids {border-color: #000}
.flair-v-gkids::before {background-position: -16px -64px}
.flair-v-gkids::after {content: " - GKIDS (Verified)"; color: #000}
.flair-v-trigger {border-color: #000}
.flair-v-trigger::before {background-position: -16px -80px}
.flair-v-trigger::after {content: "- TRIGGER (Verified)"; color: #000}
.flair-v-ea {border-color: #4d4d4d}
.flair-v-ea::before {background-position: -16px -96px}
.flair-v-ea::after {content: " - Eleven Arts (Verified)"; color: #4d4d4d}
.flair-v-lan {border-color: #29362d}
.flair-v-lan::before {background-position: -16px -112px}
.flair-v-lan::after {content: " - Studio LAN (Verified)"; color: #29362d}
.flair-v-kadokawa {border-color: #2C3086}
.flair-v-kadokawa::before {background-position: -32px 0}
.flair-v-kadokawa::after {content: " - Kadokawa (Verified)"; color: #2C3086}
.flair-v-fathomevents {border-color: #FF7006}
.flair-v-fathomevents::before {background-position: -32px -48px}
.flair-v-fathomevents::after {content: " - Fathom Events (Verified)"; color: #FF7006}
.flair-v-cloverworks {border-color: #CE5D8D}
.flair-v-cloverworks::before {background-position: -32px -96px}
.flair-v-cloverworks::after {content: " - CloverWorks (Verified)"; color: #CE5D8D}

// Awards flairs!
.flair-a-amq {border-color: #67B5EF}
.flair-a-amq::before {background-position: -32px -64px}
.flair-a-1milquiz {border-color: #fed635}
.flair-a-1milquiz::before {background-position: -32px -80px}
.flair-a-2milwriting {border-color: #fed635}
.flair-a-2milwriting::before {background-position: -32px -112px}

// If the only flair class someone has is the skip7 one, just hide the flair
[class="flair flair-skip7"] {
	@extend %display-none;
}
