// User list flairs
.flair {
	height: 16px;
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	padding: 0;
	background-color: #f7f7f7 !important;
	border: 0;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px currentcolor;
	font-size: 0 !important;
	color: #3e5267 !important;
	cursor: default;

	// 200ms smooth transition from normal to hover and back. When going from
	// hovered back to normal, delay for 350ms in case the user was trying to
	// select the flair text and their mouse briefly left the flair area
	// accidentally.
	transition: 200ms 350ms;

	// All elements of the flair inherit the same transition properties
	* {
		transition: inherit;
	}

	// Expand the flair on hover
	:hover {
		width: auto;
		font-size: x-small !important;

		// No delay when going from normal to hover, open the flair immediately
		transition-delay: 0ms;

		// Give some margin to the text component of the flair for readability
		> :not([class]) {
			margin: 0 5px;
		}
	}
}
