// User list flairs
.flair {
	display: inline-flex;
	align-items: flex-start;
	padding: 0;
	background-color: #f7f7f7 !important;
	color: #3e5267 !important;
	border: 0;
	border-radius: 2px;
	font-size: 0 !important;
	cursor: default;

	// 200ms smooth transition from normal to hover and back. When going from
	// hovered back to normal, delay for 350ms in case the user was trying to
	// select the flair text and their mouse briefly left the flair area
	// accidentally.
	transition: 200ms 350ms;

	// All elements of the flair inherit the same transition properties
	* {
		transition: inherit;
	}

	// Expand the flair on hover
	&:hover {
		width: auto;
		font-size: x-small !important;

		// No delay when going from normal to hover, open the flair immediately
		transition-delay: 0ms;

		// Give some margin to the text component of the flair for readability
		> :not([class]) {
			margin: 0 5px;
		}
	}

	// Matching RES, this is necessary because RES nightmode doesn't use !important unless there's a template being
	// used which sets background-color on the element (rule is .res-nightmode .flairrichtext[style*="color"]).
	.res-nightmode & {
		background-color: #404040 !important;
		color: #c8c8c8 !important;
	}
}

// Manually set icons to 16x16 for nice scaling
.flairemoji {
	width: 16px;
	height: 16px;
}

// Make flairs bigger when hovering over them
.flairrichtext:hover {
	height:32px;
	// Keep rest of page from moving due to flair size increase.
	margin-bottom: -16px !important;
}
.flairrichtext:hover .flairemoji {
	width:32px;
	height:32px;
}