.flair {
    border: none;
    border-radius: 0;
    font: 400 12px Lato, Arial, sans-serif;
    background: 0 0;
    color: #98abba;
    padding-left: 0;
    margin-right: inherit
}

.flair:before {
    margin-right: 3px;
    height: auto;
    content: "- ";
    margin-left: 4px
}
