// Base styles for all usernames
.author {
	// For better compatibility with RES user highlights
	display: inline-block;
	// Reset margin for list flairs
	margin-right: 0;
}

// Custom colors for user roles
a.author.submitter {
	color: #064dc0;
}
a.author.moderator {
	color: #5dab00;
}

// When a user has a CSS title, the title inherits the submitter/moderator
// colors when appropriate
.author.moderator::before,
.author.moderator::after,
.author.submitter::before,
.author.submitter::after {
	color: inherit;
}
